<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Panel<small>&nbsp;列表</small></h5>
            </div>
            <br>

            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>市场</th>
                            <th>状态</th>
                            <th>进度条</th>
                        </tr>
                    </thead>
                    <tbody id="panel-lst"> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>