@(title : String)(title_panel: String)(content : Html)

@main(title){
    <body>
        <div class="title"></div>
        <div class="container">
            <div class="cenPanel col-xs-8 col-xs-offset-2">
                <div class="row cenPanel-title">
                    <span class="toLeft col-xs-1"><i class="layui-icon toLeft tohref" style="font-size: 30px; " onclick="javascript:window.history.go(-1)">&#xe65c;</i></span>
                    <span class="cer-title-info col-xs-8 col-xs-offset-1">@title_panel</span>
                </div>
                @*<div class="row cenPanel-content">*@
                    @content
                @*</div>*@
            </div>
        </div>
        @footerPanel()
    </body>
}