*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.scala_dependencies
.classpath
*.iml
.idea/
.idea_modules/
.project
.settings/
*.sublime-project
*.sublime-workspace
/.env
atlassian-ide-plugin.xml

# Mac OSX specific
.DS_Store

#ActiveMQ specific
*.data


client/logs
client/project/project
client/project/target
client/target
client/tmp
client/.history
client/dist
client/.idea
client/*.iml
client/out
client/.idea_modules
client/.classpath
client/.project
client/RUNNING_PID
client/.settings

files/logs
files/project/project
files/project/target
files/target
files/tmp
files/.history
files/dist
files/.idea
files/*.iml
files/out
files/.idea_modules
files/.classpath
files/.project
files/RUNNING_PID
files/.settings

.history

calc/lib
calc/bin
calc/config
util/lib
util/file
files/lib
client/lib

util/.cache-main


calc/.cache-main

calc/.cache-tests
calc/src/test/test/MainTest2Call.scala
client/test/com/aqll/pharbers/Test.scala
client/.cache-main
client/.cache-tests
calc/src/test/test/MongoDBCollectionTest.scala
calc/src/main/scala/com/pharbers/aqll/calc/stub/Test.scala
calc/src/test/test/MainTest1.scala
calc/src/test/test/MainTest2Call.scala
calc/manage/upload
*.bat
*.jar
calc/manage/
