@(title : String, name: String)(content : Html)(script : Html)

@main(title) {
    <body class="layui-layout-body">
        <div class="mask-layer"></div>
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">MAX 平台</div>
                    <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">PIC</a></dd>
                            <dd><a href="">PET</a></dd>
                            <dd><a href="">其它 ... </a></dd>
                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            <span>@name</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:logout();">登出系统</a></li>
                </ul>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree"  lay-filter="main_menu">
                        <li class="layui-nav-item layui-nav-itemed" pharbers-filter="des">
                            <a href="javascript:;">首页</a>
                        </li>
                        <li class="layui-nav-item" pharbers-filter="calc">
                            <a href="javascript:;">计算</a>
                        </li>
                        <li class="layui-nav-item" pharbers-filter="history">
                            <a href="javascript:;">历史结果</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="layui-body">
                <!-- 内容主体区域 -->
                @*<div style="padding: 15px;">内容主体区域</div>*@
                @content
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                @*© layui.com - 底部固定区域*@
            </div>
        </div>
        <script>
            //JavaScript代码区域
            layui.use('element', function(){
                var element = layui.element;

                element.on('nav(main_menu)', function(elem){
                    var item = elem.attr('pharbers-filter')
                    if (item == "des") {
                        location = "/index"

                    } else if (item == "calc") {
                        location = "/calc"

                    } else if (item == "history") {
                        location = "/historyData"

                    } else {

                    }
                });
            });
        </script>
        @script
    </body>
}