@(name: String)
@pageLayout.HomePageLayout.contentPanel("Max | 历史查询", name) {
    <style>
        .condition {
            margin: 5% auto;
        }
    </style>
    <div class="layui-fluid" >
        <div class="layui-row"><div class="layui-col-md12">&nbsp;</div></div>
        <div class="layui-row layui-bg-gray " style="height: 15%;"><!-- layui-bg-gray background-color: #f2f2f2; -->
            <form class="layui-form" action="">
                <div class="layui-col-md4">
                    <div class="layui-form-item condition">
                        <label class="layui-form-label">选择框</label>
                        <div class="layui-input-block">
                            <select name="city" lay-verify="required">
                                <option value=""></option>
                                <option value="0">北京</option>
                                <option value="1">上海</option>
                                <option value="2">广州</option>
                                <option value="3">深圳</option>
                                <option value="4">杭州</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item condition">
                        <label class="layui-form-label">选择框</label>
                        <div class="layui-input-block">
                            <select name="city" lay-verify="required">
                                <option value=""></option>
                                <option value="0">北京</option>
                                <option value="1">上海</option>
                                <option value="2">广州</option>
                                <option value="3">深圳</option>
                                <option value="4">杭州</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-row">
                        <div class="layui-col-md1 condition">&nbsp;</div>
                        <div class="layui-col-md11 condition">
                            <div class="layui-btn-group">
                                <button class="layui-btn"><i class="layui-icon">&#xe615;</i>查询</button>
                                <div class="btn-group" role="group" style="margin: 0 0 0 5px;">
                                    <button type="button" class="layui-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="layui-icon">&#xe621;</i>
                                        导出
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">CSV</a></li>
                                        <li><a href="#">TXT</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="layui-table" lay-data="{height:315, url:'http://www.layui.com/demo/table/user/', page:true, id:'test'}" lay-filter="test">
                    <thead>
                        <tr>
                            <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                            <th lay-data="{field:'username', width:80}">用户名</th>
                            <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
                            <th lay-data="{field:'city', width:80}">城市</th>
                            <th lay-data="{field:'sign', width:177}">签名</th>
                            <th lay-data="{field:'experience', width:80, sort: true}">积分</th>
                            <th lay-data="{field:'score', width:80, sort: true}">评分</th>
                            <th lay-data="{field:'classify', width:80}">职业</th>
                            <th lay-data="{field:'wealth', width:135, sort: true}">财富</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
} {

    <script>
        $(function(){
            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
                    ,height: 315 //容器高度
                    ,cols: [{}] //设置表头
                    //,…… //更多参数参考右侧目录：基本参数选项
                });

            });
            $('li[pharbers-filter="history"]').addClass("layui-this")
        })
    </script>
}
