@(message: String)
@main("PHARBERS") {
    <body id="page-top" class="landing-page">
        <div class="navbar-wrapper">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://59.110.31.106/" target="_blank">
                            <img alt="Brand" width="40px" src="@routes.Assets.versioned("images/landing/navbar_logo.jpg")">登录法伯科技<br>Login Pharbers Technology
                        </a>
                    </div>
                        @*<a class="navbar-brand" href="#">Pharbers technology</a></div>*@
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="page-scroll" href="#page-top">首页</a></li>
                            <li>
                                <a class="page-scroll" href="#page-cpfw">产品服务</a></li>
                            <li>
                                <a class="page-scroll" href="#page-cpzs">产品展示</a></li>
                            <li>
                                <a class="page-scroll" href="#page-jsys">技术优势</a></li>
                            <li>
                                <a class="page-scroll" href="#page-lxwm">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="letter-spacing:1.0px">不止于数据，让决策更精彩</h1>
                            <p style="letter-spacing:1.0px">Above Data,Empower your decision making</p>
                        </div>
                        <div class="carousel-image wow zoomIn">
                            <img src="@routes.Assets.versioned("images/landing/laptop.png")" alt="laptop" /></div>
                    </div>
                    <div class="header-back one"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>还原真实，可见未来</h1>
                            <p>See the truth，See the future</p>
                        </div>
                    </div>
                    <div class="header-back two"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span></a>
        </div>
        <section class="container services">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;法伯科技成立于2008年，旗下产品MAX现已成为行业领先的市场销售SaaS管理决策平台。法伯科技致力于以高效便捷生动的方式解决客户对数据分析的需求。还原真实，可见未来，让每个决策都精彩。公司的核心产品和服务已覆盖多家内外资药企和医疗健康机构。旗下有法伯学院，法伯数据等项目。目前与全球领先的商业智能平台以及研究机构形成战略合作伙伴关系。</p> -->
                    <p>法伯科技,创建于2008年，北京。
                        是一家以数据科技为驱动，专注于医药健康领域的循证咨询公司。
                        十年间，我们服务的客户已遍及整个中国医药市场的各个环节，包括医药企业、政府机构及健检部门等。
                        2015年，经过多年积累，法伯重新定义自身，秉持“让数据技术人性化”的理念，致力于以专业的视角、高效的方式、科学的工具，为每位客户提供便捷、智能、高适应性的服务。<br />
                        现在，法伯以数据科学家身份，赋能医药行业
                        让每位客户都能享受数据带来的价值，洞察业务，让决策更精彩。
                    </p>
                </div>
            </div>
        </section>

        <section id="page-cpfw" class="timeline gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>产品与服务<br/></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center wow fadeInLeft">
                        <div>

                            <i class="fa fa-cogs features-icon"></i>
                            <h2>工具类Tool</h2>
                            <p>基于SaaS的数据分析工具，为企业带来高效，便捷，实用的解决方案。
                                <br>MAX © ：市场动态监测工具
                                <br>TMIST © ：铁马区域管理模拟平台
                                <br>PET © ：推广评估优化工具
                                <br>
                                <br>
                            </p>
                        </div>
                        <div class="m-t-lg">
                            <i class="fa fa-desktop features-icon"></i>
                            <h2>商业智能<br>Business Intelligence</h2>
                            <p>数据的集成，转置，存储，可视化分析，报表，仪表盘</p>

                        </div>
                    </div>
                    <div class="col-md-6 text-center  wow zoomIn">
                        <img src="@routes.Assets.versioned("images/landing/perspective.png")" alt="dashboard" class="img-responsive"></div>
                    <div class="col-md-3 text-center wow fadeInRight">
                        <div>
                            <i class="fa fa-bar-chart features-icon"></i>
                            <h2>数据类Data</h2>
                            <p>县域（及社区）药品数据、疫苗数据报告
                            <p> &nbsp;</p>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </p>
                        </div>
                        <div class="m-t-lg">
                            <i class="fa fa-briefcase features-icon"></i>

                            <h2>管理咨询Consulting</h2>
                            <p>依托于循证科学的管理咨询、市场研究项目,为医药企业提供数字化洞察服务，让数据充分转化为增长驱动力。<br>
                            项目内容涉及： 市场潜力评估、营销优化组合、精准预测等</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="page-cpzs" class="timeline gray-section" style="background-color: #ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>产品展示</h1>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>MAX©  (Market Analytic Box)</small>
                        <h2>药品市场动态监测分析平台</h2>
                        <p>透过精准放大，还原药品医院市场的真实动向，发现市场潜力，洞察趋势变化，让决策更精彩:</p>
                        <p>•	提供最完整层面的药品医院市场监测数据。覆盖全国、各大区、省份，以及所有地级市(340个)
                            <!-- <br>•	市场表现问题可以追溯到可靠的数据源头，通过全面的区域数据，从宏观到微观，洞察问题本质
                            <br>•	以月度更新，持续监测市场动，及时地把握所见问题 -->
                        </p>
                        <p>•	市场表现问题可以追溯到可靠的数据源头，通过全面的区域数据，从宏观到微观，洞察问题本质</p>
                        <p>•	以月度更新，持续监测市场动，及时地把握所见问题</p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/2.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>TMIST© （Territory Management Interactive Simulation Tool）</small>
                        <h2>铁马区域管理模拟平台</h2>
                        <p>一款针对区域销售管理能力的训练、测评工具。帮助区域经理应对多变的医药销售市场環境，做出更精彩的决策:</p>
                        <p>•	结合企业业务特点及部门复合需求，重现真实销售管理场景
                            <br>•	融合多维科学管理理论，以算法模型支撑，不断模拟训练销售策略及管理技巧
                            <br>•	分析评测结果，深度剖析业务情景面临的挑战，实现精准培训
                            <br>•	透过模拟训练，提高区域管理决策能力，避免真实世界的策略损耗。</p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/5.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>PET© （Promotion Effectiveness Tool）</small>
                        <h2>推广评估优化分析平台</h2>
                            <p>•	通过整合，评估，分析，优化，预测企业在各个渠道的营销投入组合，实现企业投入产出最大化
                            <br>•	可量化到医生层面，区域层面的投入产出关系
                            <br>•	同时提供行业可参比信息为企业优化预测提供更多线索</p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/3.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div>
                <!-- <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>LIT© （launch Intelligence Tool）</small>
                        <h2>药品上市信息查询平台</h2>
                        <p>•	为企业卓越的产品上市提供更多历史线索
                            <br>•	通过真实数据助力企业产品成功上市
                            <br>•	便捷全面的分析工具带来更高效的上市决策</p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/4.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div> -->
                <!-- <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>Business Intelligence Products</small>
                        <h2>商业智能类产品</h2>
                        <p>•	直观生动的业务分析免去业务人员对数据处理，统计工具的依赖，更能专注到业务本身
                            <br>•	通过我们的平台和服务，客户不但可以定期监测业务表现，同时可以快速找到业务问题
                            <br>•	Spotfire© 作为一个轻量级的商业智能工具，满足每个客户对大数据分析的追求</p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/5.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div> -->

                <!-- <div class="row features-block">
                    <div class="col-lg-6 features-text wow fadeInLeft">
                        <small>Digital Management Consulting</small>
                        <h2>数字化管理咨询</h2>
                        <p>法伯科技，立于“数据之上”。作为新一代循证医药咨询公司，为医药企业提供数字化洞察服务，让数据充分转化为增长驱动力。
                            <br>主要客户涉及医药企业、政府单位、体健机构，根据您所处的不同业务线，做出定制化的谘询方案，项目内容涉及： 市场潜力评估、营销优化组合、精准预测等
                            </p>
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">了解更多</button></a></div>
                    <div class="col-lg-6 text-right wow fadeInRight">
                        <img src="@routes.Assets.versioned("images/landing/5.png")" alt="dashboard" class="img-responsive pull-right"></div>
                </div> -->
            </div>
        </section>

        <section id="page-jsys" class="timeline gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>技术优势</h1>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <div class="vertical-timeline-content" style="background-color: #1ab394;">
                                    <p style="color:#ffffff">基于大数据分析的专业云平台，提供软件及服务的工具化服务。</p>
                                    <span class="vertical-date">SaaS云平台</span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-bar-chart"></i>
                                </div>
                                <div class="vertical-timeline-content" style="background-color: #1ab394;">
                                    <p style="color:#ffffff">互动，可视化分析让数据探索更直观，让数据分析更生动连贯，使业务人员更关注内容本身。</p>
                                    <span class="vertical-date">可视化分析</span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-code-fork"></i>
                                </div>
                                <div class="vertical-timeline-content" style="background-color: #1ab394;">
                                    <p style="color:#ffffff">依托数十年的行业数据经验，无论是企业内部的销售和管理数据，还是企业外购的市场或终端数据；通过我们的平台都可以有机的链接成您自己的大数据库。</p>
                                    <span class="vertical-date">数据融合</span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <div class="vertical-timeline-content" style="background-color: #1ab394;">
                                    <p style="color:#ffffff">结合先进的统计分析模型，为数据预测，优化，挖掘探索提供有力的方法学基础，让结果更准确。</p>
                                    <span class="vertical-date">统计模型</span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                                <div class="vertical-timeline-content" style="background-color: #1ab394;">
                                    <p style="color:#ffffff">十余年的行业数据应用经验，将数据，方法和应用有机的贯彻融合，为企业决策提供最优方案。</p>
                                    <span class="vertical-date">行业经验</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="navy-section testimonials">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center wow zoomIn">
                        <i class="fa fa-comment big-icon"></i>
                        <h1>我们的客户</h1>
                        <div class="testimonials-text" style="font-size:16px;">
                            <span>辉瑞制药&nbsp;|&nbsp;拜耳医药&nbsp;|&nbsp;阿斯利康&nbsp;|&nbsp;默克雪兰诺&nbsp;|&nbsp;百时美施贵宝&nbsp;|&nbsp;安斯泰来&nbsp;|&nbsp;
                                卫材&nbsp;|&nbsp;赛诺菲巴斯德&nbsp;|&nbsp;诺和诺德&nbsp;|&nbsp;雀巢&nbsp;|&nbsp;施维雅&nbsp;|&nbsp;天士力&nbsp;|&nbsp;信立泰&nbsp;|&nbsp;恩华&nbsp;|&nbsp;
                                爱康国宾&nbsp;|&nbsp;西安杨森&nbsp;|&nbsp;中国医疗设备</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="page-lxwm" class="gray-section contact">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>联系我们</h1>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-12  text-center">
                        <address>
                            北京法伯科技发展有限公司<br>北京市朝阳区东直门外大街小关56号5幢1层111室<br/>
                            <abbr title="Phone">Tel：</abbr>010-84244216<br/><abbr title="Phone">E-mail：</abbr>contact@@pharbers.com
                        </address>
                    </div>
                    <div class="col-lg-4">
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- <a href="mailto:contact@@pharbers.com" class="btn btn-primary">Send us mail</a> -->
                        <a href="#" ><button class="btn btn-primary" name="show-message-wrapper">联系我们</button></a>
                        <p class="m-t-sm">或者跟我们在社交平台上的</p>
                        <ul class="list-inline social-icon">
                            <li>
                                <a href="#">
                                    <i class="fa fa-weixin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-qq"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-weibo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p><a href="http://www.cnzz.com/stat/website.php?web_id=1258998229" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a>
                            &copy; 2018 Pharbers, Inc. 版权所有。隐私政策 | 使用条款</p></div>
                </div>
            </div>
        </section>
        <section class="user-message-wrapper">
            <div class="user-message">
                <div class="user-message-content">
                    <div class="message-box message-left">
                        <div class="left-logo">
                            <img src="@routes.Assets.versioned("images/landing/message-logo.jpg")" width="150px" alt="">
                        </div>
                        <div class="left-text">
                            <!-- <p>还原真实，可见未来</p> -->
                            <!-- <p>让决策更精采</p> -->
                        </div>
                    </div>
                    <div class="message-box message-right">
                        <p class="message-right-title">快速预约体验</p>
                        <p class="message-right-content">请填写您的联络信息，我们的服务人员将在两个工作日与您联系。（皆为必填项）</p>
                        <div class="contact-wrapper">
                            <form action="">
                                <p class="input-wrapper">
                                    <span><img src="@routes.Assets.versioned("images/landing/contact-company.png")" width="100%" alt=""></span><input type="text" name="user-company"  placeholder="公司名称">
                                    <span class="hint-text" name="hint-text-company">请输入公司名称</span>
                                </p>
                                <p class="input-wrapper">
                                    <span><img src="@routes.Assets.versioned("images/landing/contact-user.png")" width="100%" alt=""></span><input type="text" name="user-name"  placeholder="联系人姓名">
                                    <span class="hint-text" name="hint-text-username">请输入联系人姓名</span>
                                </p>
                                <p class="input-wrapper">
                                    <span><img src="@routes.Assets.versioned("images/landing/contact-email.png")" width="100%" alt=""></span><input type="E-mail" name="user-email"  placeholder="联络邮箱" />
                                    <span class="hint-text" name="hint-text-email">邮箱格式不正确</span>
                                </p>
                                <p class="input-wrapper">
                                    <span><img src="@routes.Assets.versioned("images/landing/contact-phone.png")" width="100%" alt=""></span><input type="Phone" name="user-phonenumber"  placeholder="手机号">
                                    <span class="hint-text" name="hint-text-phonenumber">手机号码格式不正确</span>
                                </p>
                                <p class="submit-wrapper"><button class="cancel-btn" name='close-message-wrapper'>取消</button><button class="btn submit-btn" name="submit-contact-message">提交</button></p>
                            </form>
                        </div>
                    </div>
                    <div class="submit-success">
                        <p class="success-title">感谢您的关注，我们的服务人员，将在两个工作日内与您联系！</p>
                        <div class="success-icon"><img src="@routes.Assets.versioned("images/landing/success-icon.png")" alt=""></div>
                        <p class="success-content">预约成功</p>

                    </div>
                </div>

            </div>

        </section>
        <script>
         $(document).ready(function() {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click',
                    function(event) {
                        var link = $(this);
                        $('html, body').stop().animate({
                                    scrollTop: $(link.attr('href')).offset().top - 50
                                },
                                500);
                        event.preventDefault();
                        $("#navbar").collapse('hide');
                    });
        });

        var cbpAnimatedHeader = (function() {
            var docElem = document.documentElement,
                    header = document.querySelector('.navbar-default'),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll',
                        function(event) {
                            if (!didScroll) {
                                didScroll = true;
                                setTimeout(scrollPage, 250);
                            }
                        },
                        false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                } else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

        new WOW().init();</script>
    </body>
}
