@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="target-densitydpi=device-dpi" />
        <meta name="baidu-site-verification" content="UPO59rlqq5" />
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/pharbers_icon.ico")">

        <meta property="og:title" content="法伯_法伯科技发展有限公司_医疗医药咨询_医疗数据整合-法伯">
        <meta property="og:site_name" content="PHARBERS">
        <meta property="og:url" content="http://www.pharbers.com">
        <meta property="og:keywords" content="pharbers,法伯,法伯宏业,法伯科技发展有限公司,薛林桐,医疗医药市场研究分析,医疗医药咨询,医疗数据整合">
        <meta property="og:description" content="pharbers,法伯,法伯宏业,法伯科技发展有限公司,薛林桐,医疗医药市场研究分析,医疗医药咨询,医疗数据整合">

        @*通用CSS 开始*@
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/animate.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
        @*通用CSS 结束*@
        @*通用JS 开始*@
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/wow.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.metisMenu.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.slimscroll.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/inspinia.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/pace.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/contactus.js")"></script>
        @*通用JS 结束*@
    </head>
    @content
</html>
