@import play.api.libs.json.JsValue
@(history: List[String Map JsValue])
<table class="layui-table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Date</th>
            <th>Provinces</th>
            <th>City</th>
            <th>Panel_ID</th>
            <th>Market</th>
            <th>Product</th>
            <th>Sales</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        @for(his <- history.zipWithIndex) {
            <tr>
                <td>@{his._2 + 1}</td>
                <td>@his._1("Date").as[String]</td>
                <td>@his._1("Provice").as[String]</td>
                <td>@his._1("City").as[String]</td>
                <td>@his._1("Panel_ID").as[String]</td>
                <td>@his._1("Market").as[String]</td>
                <td>@his._1("Product").as[String]</td>
                <td>@his._1("Sales").as[String]</td>
                <td>@his._1("Units").as[String]</td>
            </tr>
        }
    </tbody>
</table>