@pageLayout.bdLayout.formPanel("MAX | 添加成员")("添加成员"){
   <div class="row over">
       <div class="col-xs-4"></div>
       <div class="form-content col-xs-4 ">
           <div class="row form-tip middle_info">请填写客户信息将客户加入预注册清单。</div>
           <div class="row form-list">
               <div class="form-group">
                   <label>邮箱<span class="errColor">&nbsp*</span></label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的邮箱">
                   <div class="form_tip_bottom"></div>
               </div>
               <div class="form-group">
                   <label>姓名<span class="errColor">&nbsp*</span></label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的姓名">
                   <div class="form_tip_bottom"></div>
               </div>
               <div class="form-group">
                   <label>联系电话<span class="errColor">&nbsp*</span></label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的联系电话">
                   <div class="form_tip_bottom"></div>
               </div>
               <div class="form-group">
                   <label>公司名称<span class="errColor">&nbsp*</span></label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的公司名称">
                   <div class="form_tip_bottom"></div>
               </div>
               <div class="form-group">
                   <label>公司电话</label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的公司电话">
                   <div class="form_tip_bottom"></div>
               </div>
               <div class="form-group">
                   <label>公司地址</label>
                   <input type="email" class="form-control"  placeholder="请输入被添加人的公司地址">
                   <div class="form_tip_bottom"></div>
               </div>
           </div>
       </div>
   </div>
    <div class="bottom-line"></div>
    <div class="row form-btn">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button class="layui-btn layui-btn-primary">添加</button>
        </div>
    </div>
}