@pageLayout.bdLayout.formPanel("MAX | 添加成员")("添加成员") {
    <div class="center-box">
        <div class="row inCenParent">
            <div class="inCenChild">
                <div class="row">
                    <span class="middle_info">系统已将授权码发送至</span>
                    <span class="middle_info">XXXX</span>
                    <span class="middle_info">的邮箱</span>
                    <span class="middle_info">asdhfasdnlf163.com</span>
                    <div class="space-height-16"></div>
                    <span class="middle_info">请尽快通知查看，并进行账号激活。</span>
                    <span class="small_info errColor">授权码30分钟失效.</span>
                </div>
            </div>
        </div>
        <div class="space-height"></div>
        <div class="space-height"></div>
        <div class="inCenParent">
            <div class="inCenChild">
                <button class="layui-btn layui-btn-primary" onclick="goBack()">返回客户中心</button>
            </div>
            <div class="space-height-16"></div>
            <div class="row inCenChild">
                <span class="small_info errColor ">
                    提示：您可以在管理列表中查询成员的状态
                </span>
            </div>
        </div>
    </div>
    <script>
        var goBack = function () {
            window.location.href = "/bd/bdUser"
        }
    </script>
}