@pageLayout.bdLayout.userCenterPanel("Max | 客户中心")("客户中心"){
    <div class="row main-content">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">预约清单</div>
                <div class="panel-body">
                    <div class="person-info" data-toggle="modal" data-target="#appointmentDetail">
                        <div class="person-name">小甜甜</div>
                        <div class="person-company">公司名字</div>
                    </div>
                    <div class="person-info">
                        <div class="person-name">小甜甜</div>
                        <div class="person-company">公司名字</div>
                    </div>
                    <div class="person-info">
                        <div class="person-name">小甜甜</div>
                        <div class="person-company">公司名字</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">客户清单</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="tip-box">全部&nbsp&nbsp<span>11</span></div>
                        </div>
                        <div class="col-xs-3">
                            <div class="tip-box">在线&nbsp&nbsp<span>1</span></div>
                        </div>
                        <div class="col-xs-3">
                            <div class="tip-box">停用&nbsp&nbsp<span>11</span></div>
                        </div>
                        <div class="col-xs-3">
                            <div class="layui-select-title">
                                <input type="text" placeholder="search" value="" class="layui-input">
                                <i class="layui-edge"></i>
                            </div>
                        </div>
                    </div>
                    <div class="space-height"></div>
                    <div>
                        <div class="persons-info row">
                            <div class="persons-status col-xs-3" data-toggle="modal" data-target="#userDetail"></div>
                            <div class="persons-name col-xs-3">名字</div>
                            <div class="persons-company col-xs-3">公司名字</div>
                            <div class="persons-opera col-xs-2"  role="button" data-toggle="modal" data-target="#noticeDetail">
                                <div class="input-group">
                                    <span class="input-group-addon">待操作</span>
                                    <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="line-90"></div></div>
                    </div>
                    <div>
                        <div class="persons-info row">
                            <div class="persons-status col-xs-3" ></div>
                            <div class="persons-name col-xs-3">名字</div>
                            <div class="persons-company col-xs-3">公司名字</div>
                            <div class="persons-opera col-xs-2">
                                <div class="input-group">
                                    <span class="input-group-addon">待操作</span>
                                    <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="line-90"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var f = new Facade();
        var deleted  = function () {
            $('#appointmentDetail').modal('hide');
            $('#delete').modal('show');
        };
        $(document).ready(function () {
            var token = $.cookie("user_token");
            console.log(token);
            var js = {
                "condition" : {
                    "user_token" : token
                }

            };
            var json = JSON.stringify(js);
            f.ajaxModule.asyncPost("/user/tokenop", json, function (data) {
                var id = {
                    "user_id" : data.result.user_id
                };
                var queryJson = JSON.stringify(id)
                f.ajaxModule.asyncPost('/user/queryinfo', queryJson, function (data) {
                    $('.bd_user_name').text(data.result.user_info.name);
                    $('.bd_user_email').text(data.result.user_info.email);
                });

            })})
        
    </script>
}