@pageLayout.bdLayout.bdTitle("MAX | 账号设定") {
    <div class="row sub-tool box-line">
        <span class="middle_info">账号设定</span>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="left-list">
                <div class="list-group">
                    <a href="#" class="list-group-item active">个人信息</a>
                    <a href="#" class="list-group-item" onclick="toSetPassword()">修改密码</a>
                    <a href="#" class="list-group-item">邮件通知</a>
                    <a href="#" class="list-group-item">账号权限</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="right-form">
                <div class="form-group">
                    <label  class="control-label">姓名</label>
                    <div class="">
                        <input id="in-name" type="text" class="form-control">
                    </div>
                    <div class="form_tip_bottom"></div>
                </div>
                <div class="form-group">
                    <label  class="control-label">联系电话</label>
                    <div class="">
                        <input id="in-phone" type="text" class="form-control">
                    </div>
                    <div class="form_tip_bottom row"></div>
                </div>
                <div class="form-group">
                    <label  class=" control-label">公司名称</label>
                    <div class="">
                        <input id="in-company" type="text" class="form-control" >
                    </div>
                    <div class="form_tip_bottom"></div>
                </div>
                <div class="form-group">
                    <label  class="control-label">公司电话</label>
                    <div class="">
                        <input id="in-companyPhone" type="text" class="form-control">
                    </div>
                    <div class="form_tip_bottom"></div>
                </div>
                <div class="form-group">
                    <label  class=" control-label">联系地址</label>
                    <div class="">
                        <input id="in-companyAddress"  type="text" class="form-control" >
                    </div>
                    <div class="form_tip_bottom"></div>
                </div>
                <div class="form-group">
                    <label  class=" control-label col-xs-3">加入时间</label>
                    <span class="col-xs-6" id="in-date" ></span>
                    <div class="form_tip_bottom"></div>
                </div>
                <div class="row">
                    <div class="col-xs-10"></div>
                    <div class="col-xs-2">
                        <button class="layui-btn layui-btn-primary" onclick="resetUserInfo()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var f = new Facade();
        $(document).ready(function () {
            userLogin();
        });
        var userLogin = function () {
                var token = $.cookie("user_token");
                var tojs = {
                    "condition": {
                        "user_token": token
                    }

                };
                var tojson = JSON.stringify(tojs);
                f.ajaxModule.asyncPost("/user/tokenop", tojson, function (data) {
                    var id = {
                        "condition": {
                            "user_id": data.result.user.user_id
                        }
                    };
                    var queryJson = JSON.stringify(id)
                    f.ajaxModule.asyncPost('/user/queryinfo', queryJson, function (data) {
                        console.log(data);
                        var user = data.result.user_info;
                        $('.bd_user_name').text(data.result.user_info.name);
                        $('.bd_user_email').text(data.result.user_info.email);
                        $('#in-name').attr('placeholder',user.name);
                        $('#in-phone').attr('placeholder',user.phone);
                        $('#in-company').attr('placeholder',user.company);
                        $('#in-date').text(user.date);
                        $('#in-companyPhone').attr('placeholder',user.companyPhone);
                        $('#in-companyAddress').attr('placeholder',user.companyAddress);

                    });
                });
            };
        var toSetPassword = function () {
            window.location.href='/bd/setPassword';
        };
        var resetUserInfo = function () {
            var token = $.cookie("user_token");
            var tojs = {
                "condition": {
                    "user_token": token
                }

            };
            var tojson = JSON.stringify(tojs);
            f.ajaxModule.asyncPost("/user/tokenop", tojson, function (data) {
                var id = {
                    "condition": {
                        "user_id": data.result.user.user_id
                    }
                };
                var queryJson = JSON.stringify(id)
                f.ajaxModule.asyncPost('/user/queryinfo', queryJson, function (res) {
                    var user = res.result.user_info;
                    if($('#in-name').val()) user.name = $('#in-name').val();
                    if($('#in-phone').val()) user.phone = $('#in-phone').val();
                    if($('#in-company').val()) user.company = $('#in-company').val();
                    if($('#in-companyPhone').val()) user.companyPhone = $('#in-companyPhone').val();
                    if($('#in-companyAddress').val()) user.companyAddress = $('#in-companyAddress').val();
                    var updateUserJson = JSON.stringify({
                        'user' : user
                    });
                    console.log(user)
                    f.ajaxModule.asyncPost('/user/update', updateUserJson,function (r) {
                        if(r.status === "ok"){
//                            window.location.href = '/bd/bdUser';

                        }else {
                            console.log(r)
                        }
                    })

                });
            });
        }
    </script>
}