<div class="row" id="calculResult" style="display: none;">
    <div class="calcul-box">
        <div class="row shadow-box ">
            <div class="choose-condition">
                <div class="form-inline col-sm-8 col-md-8 col-lg-8 choose-tool">
                    <div class="form-group">
                        <label>市场</label>
                        <select class="form-control sample-select" name="calc-result-market"></select>
                    </div>
                    <div class="form-group">
                        <label>月份</label>
                        <select class="form-control sample-select" name="calc-result-month"></select>
                    </div>
                    <div name="btn-query-calcresult" class="layui-btn layui-btn-primary btn-sample">查看</div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-md-offset-1 col-lg-offset-2">
                    <div class="layui-btn layui-btn-primary btn-sample" id="submit-data">保存&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="row shadow-box">
            <div class="market-incident-panel market-penal">
                <div class="title-h1">市场指标</div>
                <div class="row market-val">
                    <div class="col-xs-4">
                        <div class="total-market">
                            <div class="small-font-result">市场总销量</div>
                            <div class="large-font-result">￥<span name="sumsales"></span> <span class="middle-font-result">Mil</span></div>
                            <div id="market-sum-sales" class="current-lastyear up">
                                <p class="current-lastyear-tip">同比</p>
                                <p><span name="current-sales-sign">+</span><span name="current-sales-value">0</span>%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="sales-market">
                            <div class="small-font-result">产品销量</div>
                            <div class="large-font-result">￥<span name="productsales"></span><span class="middle-font-result">Mil</span></div>
                            <div id="product-sales" class="current-lastyear up">
                                <p class="current-lastyear-tip">同比</p>
                                <p><span name="current-product-sales-sign">+</span><span name="current-product-sales-value">0</span>%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="share-market">
                            <div class="small-font-result">份额</div>
                            <div class="large-font-result"><span name="share"></span>%</div>
                        </div>
                    </div>
                </div>
                <div class="title-h1">市场趋势</div>
                <div id="market_trend" class="market-trend">
                </div>
            </div>
        </div>
        <div class="row shadow-box">
            <div class="market-map-panel market-penal">
                <div class="title-h1">市场&nbsp;地区层面分析</div>
                <div class="middle-font-result">全国</div>
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="market-map" id="market_map"></div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="area-btn">
                            <button class="btn-result btn-active" id="provinces">省</button><button class="btn-result btn-result-info" id="city">城市</button>
                        </div>
                        <div class="row time-tips">
                            <div class="col-md-6 text-right" style="padding-right: 40px;">去年同期</div>
                            <div class="col-md-6 text-left" style="padding-left: 40px;">本期</div>
                        </div>
                        <div class="market-bar" id="provinces_bar"></div>
                        <div class="market-bar" style="display: none;" id="city_bar"></div>
                        @*<p class="area-tips text-right">市场销量（百万）</p>*@
                        <p class="area-tips text-right">※ 图表依据本期数据进行排名</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-fluid" id="calc-result-selectbox">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md-12">
                    <p class="calc-result-choose-all" name="calc-result-choose-all"></p>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-input-block" name="calc-result-choose-lst"></div>
            </div>
            <div class="h50"> </div>
            <div class="layui-row">
                <div class="layui-col-md-5 layui-col-md-offset7">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn layui-btn-radius layui-bg-gray" lay-submit lay-filter="cancel">取消</button>
                            <button class="layui-btn layui-btn layui-btn-radius" lay-submit lay-filter="save">确认保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>