@pageLayout.calculPanel.calculStepPanel("MAX | 添加数据") {
    <link rel="stylesheet" href="@routes.Assets.versioned("css/calcul/calculStep.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/calcul/sampleResult.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/calcul/calculResult.css")">
} {
    <div class="layui-container" id="firstStep">
        <div class="layui-row">
            <div class="layui-col-md12 upload-container">
                <div class="layui-col-md6">
                    <div class="upload-box">
                        <p class="upload-tip">请上传CPA文件</p>
                        <div class="file-box text-center">
                            <i class="fa fa-file-excel-o file-icon cpa-file" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="upload-file">
                        <div class="input-group">
                            <input id="txt-cpa" disabled class="form-control" type="text" />
                            <span id="select-cpa" class="input-group-addon file-btn"><i class="fa fa-folder-open"></i>选择文件</span>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6">
                    <div class="upload-box">
                        <p class="upload-tip">请上传国药诚信文件</p>
                        <div class="file-box text-center">
                            <i class="fa fa-file-excel-o file-icon gycx-file" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="upload-file">
                        <div class="input-group">
                            <input id="txt-gycx" disabled class="form-control" type="text" />
                            <span id="select-gycx" class="input-group-addon file-btn"><i class="fa fa-folder-open"></i>选择文件</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-col-md10">&nbsp;</div>
                    <div class="layui-col-md2 text-center">
                        <button class="layui-btn layui-btn-radius layui-btn-disabled" disabled name="upload-next" >下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @calculPages.calculStep.secondStep()
    @calculPages.calculStep.sampleResult()
    @calculPages.calculStep.thirdStep()
    @calculPages.calculStep.calculResult()
} {
    @calculPages.calculStep.backCheck()
    @calculPages.calculStep.monthChoose()
    <script src="@routes.Assets.versioned("eachars3.0/echarts.js")"></script>
    <script src="@routes.Assets.versioned("eachars3.0/china.js")"></script>
    <script src="@routes.Assets.versioned("js/calcul/calculStep.js")"></script>
    <script src="@routes.Assets.versioned("js/calcul/sampleResult.js")"></script>
    <script src="@routes.Assets.versioned("js/calcul/calculResult.js")"></script>
}