<div class="modal fade" id="chooseMonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择月份</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="row">
                            <span class="small-font">您上传的文件中含有多个月份，请选择此次需要计算的月份进行检查。</span>
                        </div>

                        <div class="space-height"></div>
                        <div class="row" id="month_choose">
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <div class="space-height"></div>
            <div class="space-height"></div>
            <div class="modal-footer">
                <button type="button" class="layui-btn layui-btn-primary" id="generat-panel-btn">确认</button>
            </div>
        </div>
    </div>
</div>
