<!--<div class="modal fade" id="chooseMonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择月份</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="row">
                            <span class="small-font">您上传的文件中含有多个月份，请选择此次需要计算的月份进行检查。</span>
                        </div>

                        <div class="space-height"></div>
                        <div class="row" id="month_choose">
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <div class="space-height"></div>
            <div class="space-height"></div>
            <div class="modal-footer">
                <button type="button" class="layui-btn layui-btn-primary" id="generat-panel-btn">确认</button>
            </div>
        </div>
    </div>
</div> -->

<div class="layui-fluid" id="panel-show-time">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md-12">
                    <p class="panel-select-time-tip">本次上传文件中含以下几个月份，<br>请选择要进行计算的月份。<em>（可多选）</em></p>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-input-block panel-select-time-checkbox" name="time-lst"></div>
            </div>
            <div class="h100"> </div>
            <div class="layui-row">
                <div class="layui-col-md-5 layui-col-md-offset7">
                    <div class="layui-form-item">
                        <label name="none-month" class="layui-form-label panel-select-time-btn-tip" onclick="calc_step.show_panel_none_month()">未显示需要的月份？</label>
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn layui-btn-radius" lay-submit lay-filter="*">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-fluid" id="none-show-time">
    <p>您上传的文件可能月份丢失，请重新检查文件，<br>并重新上传。</p>
</div>
