<div class="modal fade" id="chooseMonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择月份</h4>
            </div>
            <div class="modal-body">
                <div class="space-height"></div>
                <div class="row small-font">您上传的文件中含有多个月份，请选择此次需要计算的月份进行检查。</div>
                <div class="space-height"></div>
                <div class="row">
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" value="">2017/09
                        </label>
                    </div>
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" value="">2017/10
                        </label>
                    </div>
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" value="">2017/11
                        </label>
                    </div>
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" value="">2017/12
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" value="">2016/10
                        </label>
                    </div>
                </div>
            </div>
            <div class="space-height"></div>
            <div class="space-height"></div>
            <div class="modal-footer">
                <button type="button" class="layui-btn layui-btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
