<div id="secondStep" class="row">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-8 col-lg-4">
        <div class="row">
            <div class="space-height"></div>
            <div>
                <span class="small_info">
                        MAX将会把你导入的文件 &nbsp&nbsp<span class="snd-cpa">CPA：文件名</span>&nbsp&nbsp和&nbsp&nbsp<span class="snd-gycx">GYCS：文件名</span>
                    </span>
                <br>
                <span class="small_info">对比过去12个月数据中&nbsp&nbsp医院数量&nbsp&nbsp产品数量&nbsp&nbsp销售额，进行可靠性检查</span>
                <br>
                <span class="small_info">此样本检查的报告将最终成为MAX可靠程度的重要参考依据。</span>
            </div>
        </div>
        <div class="row inCenParent begin-check" id="panel-rotate">
            <div id="check-btn">
                <img class="inCenChild img-responsive tohref" src="@routes.Assets.versioned("images/calculStep/check.png")">
            </div>
        </div>
        <div class="row inCenParent" id="loadInof">
            <a class="inCenChild small-font tohref" onclick="location='/calcul/step'">输入错误文件？重新导入</a>
        </div>
    </div>
    <div class="col-sm-2 col-lg-4"></div>
</div>