<div id="thirdStep" class="row">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-8 col-lg-4">
        <div class="row">
            <div class="space-height"></div>
            <div>
                <span class="small_info">
                        本次计算估计耗时30分钟，请确保您的装置电量充足，保持联络，在计算完成前，请勿离开此页面。
                    </span>

            </div>
        </div>
        <div class="row inCenParent begin-check" id="calc-rotate">
            <div id="calc-btn" >
                <img class="inCenChild img-responsive tohref" src="@routes.Assets.versioned("images/calculStep/begin.png")">
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-lg-4"></div>
</div>