<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>CPA<small>&nbsp;多月份多市场单文件上传</small></h5>
            </div>
            <br>
            <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-normal" id="select-cpa-btn">选择文件</button>
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="cpa-file"></tbody>
                    </table>
                </div>
            </div>

            <br>
            <br>

            <div class="ibox-title">
                <h5>GYCX<small>&nbsp;多月份多市场单文件上传</small></h5>
            </div>
            <br>
            <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-normal" id="select-gycx-btn">选择文件</button>
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="gycx-file"></tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="layui-btn hidden" id="upload-gycx-btn"></button>
        </div>
    </div>
</div>