@(title: String)(content: Html)
@pageLayout.calculPanel.rightToolPanel(title) {
    <div class="sub-title">
        <div class="sub-title-font inLeft">
            <i class="fa fa-calculator" aria-hidden="true"></i>
            <span>数据工具</span>
        </div>
        <div class="inRight">
                    <button class="layui-btn bd-btn" onclick="location='/calcul/step'">
                        <i class="layui-icon">&#xe654;</i>&nbsp&nbsp添加数据
                    </button>
                </div>
    </div>
    @content
}