@(title: String)(content: Html)
@pageLayout.calculPanel.rightToolPanel(title) {
    <div class="row sub-tool box-line">
        <div class="col-xs-3">
            <div><i class="fa fa-calculator" aria-hidden="true"></i><span class="middle_info">MAX</span></div>
        </div>
        <div class="col-xs-offset-4 col-xs-5">
            <div class="row">
                <div class="col-xs-6">
                    <button class="layui-btn bd-btn">添加数据&nbsp&nbsp<i class="layui-icon">&#xe654;</i></button>
                </div>
            </div>
        </div>
    </div>
    @content

}