<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>CPA<small> 模块说明性文字预留（小字）</small></h5>
            </div>
            <div class="ibox-content">
                <ul>
                    <li style="list-style-type:none;">
                        <div id="cpa_upload" class="uploder-container">
                            <div  class="phauploder">
                                <div class="queueList">
                                    <div class="placeholder">
                                        <div class="filePicker"></div>
                                        <p>将文件拖拽到这里，最多上传1个文件</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="btns">
                                        <div class="jxfilePicker" style="float:left"></div>
                                        <div class="uploadBtn" style="float:left">开始上传</div>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>