<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>GYCX<small> 模块说明性文字预留（小字）</small></h5>
            </div>
            <div class="ibox-content">
                <form enctype="multipart/form-data">
                    @*<input id="gycx" name="file" type="file" multiple>*@
                    <button type="button" class="layui-btn" id="gycx">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>