@(title: String)(content: Html)
@main(title) {
<body>
    <div class="logo box-line">
        <div class="logo-font">
            <span class="logo-font">Pharbers</span>
        </div>
        <div class="logo-title">
            <div class="login-info" id="userSet" >
                <div class="login-status" onclick="clickToHome()"></div>
                <div class="login-box" onclick="setUsr()">
                    <div class="login-name bd_user_name">name</div>
                    <div class="login-email bd_user_email">yymfor163.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="center-content">
        <div class="container-fluid">
        @content
        </div>
    </div>
</body>


    <script>
        var f = new Facade();
            layui.use('element', function () {
                var element = layui.element;
                element.on('nav(demo)', function (elem) {
                    //console.log(elem)
//              layer.msg(elem.text());
                });
            });
            var setUsr = function () {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 4,
                        tips: [3],
                        content: ['<div><a style="color: white;cursor: pointer;font-size: 14px">账号设置</a></div><div><a style="color: white;cursor: pointer;font-size: 14px">退出</a></div>', '#userSet'],
                        area: '120px',
                        shade: [0.1, '#393D49'],
                        shadeClose: true

                    })

                });
            }
            var clickToHome = function () {
                var token = $.cookie("user_token");
                var js = JSON.stringify(f.parameterPrefix.conditions({'user_token': token}))
                f.ajaxModule.asyncPost("/user/tokenop", js, function (data) {
                    if(data.status == "ok"){
                        if(data.result.user.scope[0] == "BD"){
                            location = ("/bd/bdUser")
                        }else if(data.result.user.scope[0] == "NC"){
                            location = ("/calcul/home")
                        }else {
                            location = ("/login")
                        }
                    }
                })
            }
    </script>
}