/**********************冲突***************/
a {
    text-decoration: none !important;
}

dl.layui-nav-child > dd {
    line-height: 36px !important;
}

/**********************关于字段设置***************/

.large_title{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 5em;
    text-align: center;
    color: #393d49;
}

.small_info{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #8a8e9c;
}
.middle_info{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #494c57;
}
.font_big_size{
    font-size: 130px;
    padding: 10px;
}
/************************层次设置**************************/
.title{
    height: 125px;
}
.footer{
    margin-top: 100px;
    height: 50px;
}
/**************************盒子****************************/
.box_form{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
}
.cenPanel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #009688;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*border-color:1px solid #bce8f1;*/
}
.cenPanel > .cenPanel-title{
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}


.cenPanelerr{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #953b39;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*border-color:1px solid #bce8f1;*/
}
.cenPanelerr > .cenPanel-title{
    color: #fff;
    background-color: #953b39;
    border-color: #953b39;
}

.cer-title-info{
    color:#fff;
    text-align: center;
    font-size: 20px;
    font-family: PingFangSC-Regular, sans-serif;
}
.cenPanel-title{
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 50px;
}

.cenPanel-content{
    padding: 15px;
    height: 500px;
}
.cenPanel-content-small{
    padding: 15px;
    height: 300px;
}
.box_size{
    margin-left: 30%;
    margin-right: 30%;
}
.box_size_20{
    margin-left: 20%;
    margin-right: 20%;
}
.box_size_upDown{
    margin-top: 30%;
    margin-bottom: 30%;
}
.box_size_upDown_big{
    margin-top: 20%;
    margin-bottom: 20%;
}
.form_tip_bottom{
    height: 20px;
    padding: 5px 3px;
}

/*********************微调通用*****************************/
.toRight{
    text-align: right;
    margin-right: 40px;
}
.toLeft{
    text-align: left;
}
.toCenter{
    text-align: center;
}
.tohref {
    color: #00796b;
    cursor: pointer;
}
.footer_info{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 12px;
    color: #9b9fad;
    text-align: center;

}
.default_color{
    color: #009688;
}

.line-80{
    height: 1px;
    padding:0px;
    background-color:#009688;
    overflow:hidden;
    margin:10px 10%;

}
.user-img{
    width:60px;
    height:60px;
    border-radius:50%
}
.space-height{
    height:34px;
}
.input_alert{
    border-color: #953b39;
}
.input_success{

    border-color: #009688;
}
.err{
    color: #953b39;
    font-size: 60px;
}
.inCentre{
    margin: 20px auto;
}
.errColor{
    color: #953b39;
}
.succColor{
    color: #009688;
}

/*************************个性*******************************/
.login_btn{
    margin: 12px 30px;
    background-color: #009688;
    color: #fff;
    white-space:  nowrap;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
}
.login_btn:hover{
    background-color: #00796b;
}
.err_btn{
    height: 34px;
    margin: 0px 20px;
    background-color: #953b39;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    padding: 7px 0px 7px 0px;
    font-size: 16px;
}
.err_btn:hover{
    background-color: #7b3331;
}
.nomal_btn{
    height: 34px;
    margin: 0px 20px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    padding: 7px 0px 7px 0px;
    font-size: 16px;
}
.nomal_btn:hover{
    background-color: #00796b;
}
.ban_btn{
    height: 34px;
    margin: 0px 20px;
    background-color: #c2c6d4;
    color: #8a8e9c;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    padding: 7px 0px 7px 0px;
    font-size: 16px;
}

.form_tip_bottom{
    color: #953b39;
}

/*新增遮罩层*/
.mask-layer {
    opacity: 0.2;
    z-index: 1024;
    display: none;
    /*background: rgba(255, 36, 35, 0);*/
    background: #0C0C0C;
    position: absolute;
    top: 0;
    width: 100%;
    height: 110%;
}
.loading {
    z-index: 1025;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}
