@(auth: String)

@layout("Max | Home") {
    <link href="@routes.Assets.versioned("css/style.default.css")" rel="stylesheet">
    <body>
        <div class="layui-tab layui-tab-card" lay-filter="step">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="cpa_li">CPA文件上传</li>
                <li lay-id="gycx_li">GYCX文件上传</li>
                <li lay-id="sample_li">样本检查</li>
                <li lay-id="result_li">结果检查</li>

                <div class="layui-progress" lay-filter="calc_progress">
                    <div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
                </div>
            </ul>
            <div class="screen_div"></div>
            <br>
            <div class="container-fluid">
                <button class="layui-btn layui-btn-radius layui-btn-disabled" id="previous_btn">
                    <i class="layui-icon">上一步</i>
                </button>

                <button class="layui-btn layui-btn-radius" style="float: right" id="next_btn">
                    <i class="layui-icon">下一步</i>
                </button>
            </div>
            <br>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                @upload.cpaUpload()
                </div>
                <div class="layui-tab-item">
                @upload.gycxUpload()
                </div>
                <div class="layui-tab-item">
                @sample.sampleCheck()
                </div>
                <div class="layui-tab-item">
                @result.resultCheck()
                </div>
            </div>
        </div>
    </body>
    <link href="@routes.Assets.versioned("css/calcData/calc_data.css")" rel="stylesheet">
    <script src="@routes.Assets.versioned("eachars3.0/echarts.js")"></script>
    <script src="@routes.Assets.versioned("js/calcData/calc_data.js")"></script>
} {
    <script type="text/javascript" >
            $(function () {
                load_cpa_tab();
                $('li[pharbers-filter="calc"]').addClass("layui-this");
                $("#previous_btn").click(function () {
                    change_tab('pre')
                });
                $("#next_btn").click(function () {
                    change_tab('next')
                });
            })
    </script>
}