@(auth: String)

@layout("Max | Home") {
    <link href="@routes.Assets.versioned("/css/style.default.css")" rel="stylesheet">

    <body>
         <div class="layui-tab" lay-filter="step">
            <ul class="layui-tab-title">
                <li class="layui-this">CPA文件上传</li>
                <li>GYCX文件上传</li>
                <li>样本检查</li>
                <li>结果检查</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    @upload.cpaUpload()
                </div>
                <div class="layui-tab-item">
                    @upload.gycxUpload()
                </div>
                <div class="layui-tab-item">
                    @sample.sampleCheck()
                </div>
                <div class="layui-tab-item">
                    @result.resultCheck()
                </div>
            </div>
        </div>
    </body>
    @*<script type="text/javascript" src="@routes.Assets.versioned("js/newjs/calcstep.js")"></script>*@
} {
    <script type="text/javascript" >
        $(function(){
            $('li[pharbers-filter="calc"]').addClass("layui-this")
        })

    </script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;

            element.on('tab(step)', function(elem){
//                var item = elem.attr('pharbers-filter')
//                if (item == "des") {
//                    location = "/index"
//
//                } else if (item == "calc") {
//                    location = "/calcdata"
//
//                }
                console.log(elem)
            });
        });

        layui.use('upload', function(){
            var upload = layui.upload;

            upload.render({
                elem: '#cpa'
                ,url: '/api/upload/'
                ,auto: false //选择文件后不自动上传
                ,bindAction: '#testListAction' //指向一个按钮触发上传
                ,choose: function(obj){
                    //将每次选择的文件追加到文件队列
                    var files = obj.pushFile();

                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function(index, file, result) {
                        console.log(index); //得到文件索引
                        console.log(file); //得到文件对象
                        console.log(result); //得到文件base64编码，比如图片

                        //这里还可以做一些 append 文件列表 DOM 的操作

                        //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                        //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                    });
                }
                ,before: function(obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layer.load(); //上传loading
                }
                ,done: function(res, index, upload) {
                    layer.closeAll('loading'); //关闭loading
                }
                ,error: function(index, upload) {
                    layer.closeAll('loading'); //关闭loading
                }
            });
        });

        layui.use('upload', function(){
            var upload = layui.upload;

            upload.render({
                elem: '#gycx'
                ,url: '/api/upload/'
                ,auto: false //选择文件后不自动上传
                ,bindAction: '#testListAction' //指向一个按钮触发上传
                ,choose: function(obj){
                    //将每次选择的文件追加到文件队列
                    var files = obj.pushFile();

                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function(index, file, result) {
                        console.log(index); //得到文件索引
                        console.log(file); //得到文件对象
                        console.log(result); //得到文件base64编码，比如图片

                        //这里还可以做一些 append 文件列表 DOM 的操作

                        //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                        //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                    });
                }
                ,before: function(obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layer.load(); //上传loading
                }
                ,done: function(res, index, upload) {
                    layer.closeAll('loading'); //关闭loading
                }
                ,error: function(index, upload) {
                    layer.closeAll('loading'); //关闭loading
                }
            });
        });
    </script>
}