@main("Max | Login") {
    <body>
        <div class="title"></div>
        <div class="content">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4 box_log">
                    <div class="row large_title">
                        MAX
                    </div>
                    <div class="row small_info">
                        <span>让每个决策都精彩</span>
                        <br>
                        <span>EMPOWER YOUR DECISION MAKING</span>
                    </div>
                    <div class="line-80"></div>
                    <div class="row">
                        <div class="box_form">
                            <div class="">
                                <img src="/img/user_img.jpg" class="user-img">
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <div class="login_btn" onclick="">专用账号</div>
                                    <div class="form_tip_bottom"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <div class="login_btn" onclick="">演示账号</div>
                                    <div class="form_tip_bottom"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
        </div>
}