@(message: String)
@main("Max | 404") {
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">找不到网页</h3>

        <div class="error-desc">
           	 很抱歉，您找到的页面已找到。 尝试检查网址是否有错误，然后点击浏览器上的刷新按钮或尝试在我们的应用程序中找到其他内容。
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索页面">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>
</body>
}
