@main("Max | 激活失败"){
	<body>
		<div class="title"></div>
		<div class="content row">
			<div class="cenPanelerr  col-xs-8 col-xs-offset-2">
				<div class="row cenPanel-title">
					<span class="toLeft col-xs-1"><i class="layui-icon toLeft tohref" style="font-size: 30px; " onclick="javascript:window.history.go(-1)">&#xe65c;</i></span>
					<span class="cer-title-info col-xs-8 col-xs-offset-1">激活账号失败</span>
				</div>
				<div class="row cenPanel-content">
					<div class="row ">
						<div class="col-xs-1"></div>
						<div class="col-xs-2">
							<div class="space-height"></div>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<i class="errColor glyphicon glyphicon-remove-sign " style="font-size: 40px; "></i>
						</div>
						<div class="col-xs-8 middle_info toLeft">
							<div class="space-height"></div>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<span class="middle_info">由于您的的激活邮件已过期，您需要重新申请授权码，</span>
							<span class="middle_info">进行账号激活流程。</span>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<div class="err_btn">前往申请</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
		</div>
	</body>
}