@(auth: String,markets : List[String])
@main("Max | Home") {
<body>
    <div style="display: none;" class="progresstier">
        <div class="progress">&nbsp;</div>
        <div class="widgets">
            <div class="shadow">
                <div id="chart" class="chart-container"> </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <div style="width: 48px; height: 48px;">
                                <span>
                                    <img alt="image" width="48" height="48" style="background-color: #ffffff;" class="img-circle" src="@routes.Assets.versioned("images/boy-4.png")" />
                                </span>
                            </div>
                            <div style="position: absolute; z-index: 9888; top: -10%; left: 40%;">
                                <div class="tooltip-demo" id="weather">
                                    <img src="http://appimg.showapi.com/images/weather/icon/day/00.png" style="cursor: pointer;" width="84px" height="84px" data-toggle="tooltip" data-placement="right" title="城市：北京，温度：21，天气：晴，风向：西南风，风力：3级">
                                </div>
                            </div>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold" id="company"></strong>
                                    </span>
                                    <span class="text-muted text-xs block"><span id="Name"></span> Staff<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="emptypage">个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href="javaScript:void();" onclick="logout()">退出系统</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            MAX
                        </div>
                    </li>
                    <li>
                        <a href="index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span></a>
                    </li>
                    <li class="active">
                        <a id="wjsc" href="filesupload"><i class="fa fa-cloud-upload"></i> <span class="nav-label">1.文件上传</span></a>
                    </li>
                    <li>
                        <a id="ybjc" href="samplecheck"><i class="fa fa-pie-chart"></i> <span class="nav-label">2.样本检查</span></a>
                    </li>
                    <li>
                        <a href="samplereport"><i class="fa fa-file-text"></i> <span class="nav-label">3.样本报告</span></a>
                    </li>
                    <li>
                        <a href="resultcheck"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">4.结果检查</span></a>
                    </li>
                    <li>
                        <a href="resultquery"><i class="fa fa-table"></i> <span class="nav-label">5.结果查询</span></a>
                    </li>
                    @if(auth.equals("Yes")){
                        <li>
                            <a><i class="fa fa-gears"></i> <span class="nav-label">管理页面</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="usermanage">用户管理</a></li>
                                <li><a href="marketmanage">市场管理</a></li>
                            </ul>
                        </li>
                    }
                    <li class="landing_link">
                        <a target="_blank" href="http://www.pharbers.com/"><i class="fa fa-star"></i> <span class="nav-label">官方网站</span> <span class="label label-warning pull-right">NEW</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
	        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		        <div class="navbar-header">
		            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
		        </div>
	            <ul class="nav navbar-top-links navbar-right">
	                <li>
	                    <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
	                </li>
	                <li>
	                    <a href="javaScript:void();" onclick="logout()">
	                        <i class="fa fa-sign-out"></i> 退出系统
	                    </a>
	                </li>
	            </ul>
	        </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>文件上传</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <strong>文件上传</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div id="upload_file" class="wrapper wrapper-content animated fadeInRight" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>CPA<small> 模块说明性文字预留（小字）</small></h5>
                        </div>
                        <div class="ibox-content">
                            <ul>
                                <li style="list-style-type:none;">
                                    <div class="uploder-container">
                                        <div  class="phauploder">
                                            <div class="queueList">
                                                <div class="placeholder">
                                                    <div class="filePicker"></div>
                                                    <p>将文件拖拽到这里，最多上传16个文件</p>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="btns">
                                                    <div class="jxfilePicker" style="float:left"></div>
                                                    <div class="uploadBtn" style="float:left">开始上传</div>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>GYCX<small> 模块说明性文字预留（小字）</small></h5>
                        </div>
                        <div class="ibox-content">
                            <ul>
                                <li style="list-style-type:none;">
                                    <div class="uploder-container">
                                        <div  class="phauploder">
                                            <div class="queueList">
                                                <div class="placeholder">
                                                    <div class="filePicker"></div>
                                                    <p>将文件拖拽到这里，最多可上传16个文件</p>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="btns">
                                                    <div class="jxfilePicker" style="float:left"></div>
                                                    <div class="uploadBtn" style="float:left">开始上传</div>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @if(auth.equals("Yes")){
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Manager</h5>
                        </div>
                        <div class="ibox-content">
                            <ul>
                                <li style="list-style-type:none;">
                                    <div class="uploder-container">
                                        <div  class="phauploder">
                                            <div class="queueList">
                                                <div class="placeholder">
                                                    <div class="filePicker"></div>
                                                    <p>将文件拖拽到这里，最多上传16个文件</p>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="btns">
                                                    <div class="jxfilePicker" style="float:left"></div>
                                                    <div class="uploadBtn" style="float:left">开始上传</div>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>}
                @if(auth.equals("Yes")){
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hospital</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="status">数据类型</label>
                                        <select data-name="search-result-market" class="form-control">
                                            @{markets map { x => <option>{x}</option> }};
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="status">年份</label>
                                        <select data-name="search-result-market" name = "timestamp" class="form-control">
                                            <option>2013</option>
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option selected>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <ul>
                                <li style="list-style-type:none;">
                                    <div class="uploder-container">
                                        <div  class="phauploder">
                                            <div class="queueList">
                                                <div class="placeholder">
                                                    <div class="filePicker"></div>
                                                    <p>将文件拖拽到这里，最多上传16个文件</p>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="btns">
                                                    <div class="jxfilePicker" style="float:left"></div>
                                                    <div class="uploadBtn" style="float:left">开始上传</div>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>}
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                @*<button type="button" class="btn btn-primary btn-sm" id="upBeforeBtn">文件解析</button>*@
                                @*<button type="button" class="btn btn-primary btn-sm" id="commitBtn">确认</button>*@
                                @*<button type="button" class="btn btn-primary btn-sm" id="nextstepBtn">下一步</button>*@
                                <button type="button" class="btn btn-primary btn-sm" id="f_nextstepBtn">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="generate_panel_file" class="wrapper wrapper-content animated fadeInRight" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>上传文件检查</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <label id="generate_panel_content"></label>
                                <div id="resultDiv" hidden class='col-lg-12 text-left'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary btn-sm" id="s_prevstepBtn">上一步</button>
                                <button type="button" class="btn btn-primary btn-sm" id="s_nextstepBtn">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="generate_sample_data" class="wrapper wrapper-content animated fadeInRight" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>生成panel文件</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <label id="generate_sample_content"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary btn-sm" id="t_prevstepBtn">上一步</button>
                                <button type="button" class="btn btn-primary btn-sm" id="t_nextstepBtn">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    @*<script src="https://cdn.bootcss.com/d3/3.5.5/d3.min.js"></script>*@
    <link href="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/business/filesupload.js")"></script>
    @*<script src="@routes.Assets.versioned("hDialog/js/jquery.hDialog.js")"></script>*@
</body>
}
