
@login_panel("Max | 快速预约体验")("快速预约体验") {

    <div class="cenPanel-content">
        <div class="col-xs-5"></div>
        <div class="col-xs-7">
            <div class="row box_form">
                <span class="small_info toRight">感谢您,对MAX的关注,我们服务人员,</span>
                <br>
                <span class="small_info toRight">将在2个工作日内与您联系</span>
            </div>

            <form class="layui-form layui-form-pane" method="post" action="">
            <div class="box_form">
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="company_info" class="form-control" type="text" name="comapny" lay-verify="comapny" required placeholder="企业名称">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="linkman" class="form-control" type="text" name="linkman" lay-verify="linkman" required placeholder="联系人">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="email_info" class="form-control" type="text" name="email" lay-verify="email" required placeholder="联系人邮箱">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="phone_info" class="form-control" type="text" name="phone" lay-verify="phone" required placeholder="联系人手机号">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    @*<div class="col-lg-10"><div class="login_btn">提交</div></div>*@
                    <div type="button" class="col-lg-10 login_btn btn-submit" lay-submit="" lay-filter="sub">提交</div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        var validate = new ValidateHandler();
        $(document).ready(function(){
            $('#popErr').hide();
            var $input = $("input");
            $input[0].focus();
            $('#popErr').hide();
            validate.input_blur("company_info", "cName");
            validate.input_blur("linkman", "name");
            validate.input_blur("email_info", "email");
            validate.input_blur("phone_info", "phone");
        });

        layui.use(['form', 'layer'], function () {
            var $ = layui.jquery,form = layui.form,layer = layui.layer;
            // 验证
            form.verify({
                company: function (value) {
                    if (value === "") {
                        return "请输入企业名称";
                    }
                },
                linkman: function (value) {
                    if (value === "") {
                        return "请输入联系人";
                    }
                },
                email: function (value) {
                    if (value === "") {
                        return "请输入邮箱";
                    }
                },
                phone: function (value) {
                    if (value === "") {
                        return "请输入手机号";
                    }
                }
            });

            // 提交监听
            form.on('submit(sub)', function (data) {
                var json = JSON.stringify(data.field);

                if (validate.finalResult()) {
                    ajaxData('/register/user', json, 'POST', function(r){
                        if(r.status === 'ok' && r.result.registers === "ok") {
                            location = "/order/success "
                        }else {
                            layer.msg('出现未知错误，请联系管理员！');
                        }
                    }, function(e){console.error(e)})
                }
            });

            $('.layui-form').keydown(function (event) {
                if (event.keyCode === 13) {
                    $(".login_btn").click();
                    return false;
                }
            });
        })
    </script>
}