@(name : String, email : String)

@main("Max | Register"){
	<body>
		<div class="title"></div>
		<div class="content row">
			<div class="cenPanel col-xs-8 col-xs-offset-2">
				<div class="row cenPanel-title">
					<span class="toLeft col-xs-1"><i class="layui-icon toLeft tohref" style="font-size: 30px; " onclick="javascript:window.history.go(-1)">&#xe65c;</i></span>
					<span class="cer-title-info col-xs-8 col-xs-offset-1">激活账号</span>
				</div>
				<div class="row cenPanel-content">
					<div class="row ">
						<div class="col-xs-1"></div>
						<div class="col-xs-2">
							<div class="space-height"></div>
							<div class="space-height"></div>
							<i class="glyphicon glyphicon-envelope default_color" style="font-size: 40px; "></i>
						</div>
						<div class="col-xs-8 middle_info toLeft">
							<span class="userName">@name</span><span>您好</span>
							<div class="space-height"></div>
							<span>欢迎加入Max,我们已经向您的邮箱（</span><span class="email">@email</span><span>）</span>
							<div class="space-height"></div>
							<span>发送激活邮件，请前往激活账号。</span>
							<div class="space-height"></div>
							@*<div class="nomal_btn">登入邮箱激活</div>*@
							<div class="space-height"></div>
							<span class="small_info toLeft">没有收到邮件？</span><span class="small_info default_color toLeft">重新发送</span>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<div class="space-height"></div>
							<span class="small_info">如果点击按钮没有反映，</span>
							<br>
							<span class="small_info">请进入您的邮箱（</span><span class="small_info">@email</span><span class="small_info">)完成激活操作</span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
		</div>
	</body>
}