@(message: String)
@main("PHARBERS") {
<body id="page-top" class="landing-page">
	<div class="navbar-wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index">WEBAPPLAYERS</a></div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="#page-top">首页</a></li>
						<li>
							<a class="page-scroll" href="#features">产品与服务</a></li>
						<li>
							<a class="page-scroll" href="#team">工具与产品</a></li>
						<li>
							<a class="page-scroll" href="#contact">联系我们</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#inSlider" data-slide-to="0" class="active"></li>
			<li data-target="#inSlider" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h1>致力于高效
							<br/>便捷生动的方式
							<br/>解决客户对数据分析的需求。</h1>
						<p>还原真实，可见未来，让每个决策都精彩。</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">阅读更多</a></p>
					</div>
					<div class="carousel-image wow zoomIn">
						<img src="@routes.Assets.versioned("img/landing/laptop.png")" alt="laptop" /></div>
				</div>
				<div class="header-back one"></div>
			</div>
			<div class="item">
				<div class="container">
					<div class="carousel-caption blank">
						<h1>致力于高效便捷生动的方式
							<br/>解决客户对数据分析的需求。</h1>
						<p>还原真实，可见未来，让每个决策都精彩。</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
					</div>
				</div>
					<!-- Set background for slide in css -->
				<div class="header-back two"></div>
			</div>
		</div>
		<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span></a>
		<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span></a>
	</div>
	<section id="features" class="container services">
		<div class="row">
			<div class="col-sm-3">
				<h2>Full responsive</h2>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
				<p>
					<a class="navy-link" href="#" role="button">Details &raquo;</a></p>
			</div>
			<div class="col-sm-3">
				<h2>LESS/SASS Files</h2>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
				<p>
					<a class="navy-link" href="#" role="button">Details &raquo;</a></p>
			</div>
			<div class="col-sm-3">
				<h2>6 Charts Library</h2>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
				<p>
					<a class="navy-link" href="#" role="button">Details &raquo;</a></p>
			</div>
			<div class="col-sm-3">
				<h2>Advanced Forms</h2>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
				<p>
					<a class="navy-link" href="#" role="button">Details &raquo;</a></p>
			</div>
		</div>
	</section>
	<section class="container features">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>产品与服务
					<br/></h1>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center wow fadeInLeft">
				<div>
					<i class="fa fa-mobile features-icon"></i>
					<h2>工具类Tool</h2>
					<p>基于SaaS的数据分析工具，为企业带来高效，便捷，实惠的解决方案。MAX ? ：省级数据分析工具</p>
				</div>
				<div class="m-t-lg">
					<i class="fa fa-bar-chart features-icon"></i>
					<h2>商业智能Business Intelligence</h2>
					<p>数据的集成，转置，存储，可视化分析，报表，仪表盘</p>
				</div>
			</div>
			<div class="col-md-6 text-center  wow zoomIn">
				<img src="@routes.Assets.versioned("img/landing/perspective.png")" alt="dashboard" class="img-responsive"></div>
			<div class="col-md-3 text-center wow fadeInRight">
				<div>
					<i class="fa fa-envelope features-icon"></i>
					<h2>数据类Data</h2>
					<p>PIC ? ：药品市场数据查询平台药品研发查询平台</p>
				</div>
				<div class="m-t-lg">
					<i class="fa fa-google features-icon"></i>
					<h2>管理咨询Consulting</h2>
					<p>定制化依托于循证科学的管理咨询、市场研究项目</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>核心产品</h1>
				<p>Core Product</p>
			</div>
		</div>
		<div class="row features-block">
			<div class="col-lg-6 features-text wow fadeInLeft">
				<small>Market Analytic Box,，MAX?</small>
				<h2>基于客户数据的药品市场数据分析平台</h2>
				<p>提高企业已有医院药品数据的利用价值，降低费用；
					<br>分析到全国300多个城市的本品、主要竞品以及整个市场的市场份额和销售情况，实现精细化管理；
					<br>全国-省-地区-市-医院，层层深入挖掘市场变化的底层原因，有针对性的和及时的制定营销策略。</p>
				<a href="" class="btn btn-primary">了解更多</a></div>
			<div class="col-lg-6 text-right wow fadeInRight">
				<img src="@routes.Assets.versioned("img/landing/dashboard.png")" alt="dashboard" class="img-responsive pull-right"></div>
		</div>
	</section>
	<section id="team" class="gray-section team">
		<div class="container">
			<div class="row m-b-lg">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>其他工具与产品</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 wow fadeInLeft">
					<div class="team-member">
						<img src="@routes.Assets.versioned("img/landing/avatar3.jpg")" class="img-responsive img-circle img-small" alt="">
						<h4>
							<span class="navy">商业智能</span>类产品</h4>
						<p>直观生动的业务分析免去业务人员对数据处理，统计工具的依赖，更能专注到业务本身。通过我们的平台和服务，客户不但可以定期监测业务表现，同时可以快速找到业务问题。Spotfire? 作为一个轻量级的商业智能工具，满足每个客户对大数据分析的追求</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member wow zoomIn">
						<img src="@routes.Assets.versioned("img/landing/avatar1.jpg")" class="img-responsive img-circle" alt="">
						<h4>
							<span class="navy">药品市场数据</span>查询平台</h4>
						<p>数据全面，提供全国全部等级医院省级月度药品放大数据，包括31个省、直辖市和自治区。准确、迅速，经Top10外资企业验证准确性，数据可靠，方法优越。一键式、定制化，时、一键式、自助式、定制化的输出自定义市场的销售数据以及全面分析报告</p>
					</div>
				</div>
				<div class="col-sm-4 wow fadeInRight">
					<div class="team-member">
						<img src="@routes.Assets.versioned("img/landing/avatar2.jpg")" class="img-responsive img-circle img-small" alt="">
						<h4>
							<span class="navy">以数据为基础</span>的咨询项目</h4>
						<p>县级医院/社区中心市场潜力项目。多渠道市场潜力项目。大数据挖掘项目。行业报告。</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>技术优势</h1>
					<p>以技术优势为驱动，洞察先机。</p>
				</div>
			</div>
			<div class="row features-block">
				<div class="col-lg-3 features-text wow fadeInLeft">
					<small>先进的统计模型</small>
					<h2>工具化、平台化统计工具</h2>
					<p>快速获得业务信息，解读数据背后的商机。</p>
					<small>Saas平台</small>
					<h2>配套云服务</h2>
					<p>无需安装任何电脑软件。</p>
				</div>
				<div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
					<img src="@routes.Assets.versioned("img/landing/iphone.jpg")" class="img-responsive" alt="dashboard"></div>
				<div class="col-lg-3 features-text text-right wow fadeInRight">
					<small>多源数据整合</small>
					<h2>建立自己的</h2>
					<p>大数据平台。</p>
					<small>全球领先的敏捷式商业智能平台</small>
					<h2>更轻松更生动更连贯</h2>
					<p>轻松看到业务问题。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="timeline gray-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>我们的工作流程</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<div class="row features-block">
				<div class="col-lg-12">
					<div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
						<div class="vertical-timeline-block">
							<div class="vertical-timeline-icon navy-bg">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="vertical-timeline-content">
								<h2>会议</h2>
								<p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
								<a href="#" class="btn btn-xs btn-primary">更多信息</a>
								<span class="vertical-date">今天
									<br/>
									<small>12月15日</small></span>
							</div>
						</div>
						<div class="vertical-timeline-block">
							<div class="vertical-timeline-icon navy-bg">
								<i class="fa fa-file-text"></i>
							</div>
							<div class="vertical-timeline-content">
								<h2>决策</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
								<a href="#" class="btn btn-xs btn-primary">更多信息</a>
								<span class="vertical-date">明天
									<br/>
									<small>12月16日</small></span>
							</div>
						</div>
						<div class="vertical-timeline-block">
							<div class="vertical-timeline-icon navy-bg">
								<i class="fa fa-cogs"></i>
							</div>
							<div class="vertical-timeline-content">
								<h2>执行</h2>
								<p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
								<a href="#" class="btn btn-xs btn-primary">更多信息</a>
								<span class="vertical-date">星期一
									<br/>
									<small>12月19日</small></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center wow zoomIn">
					<i class="fa fa-comment big-icon"></i>
					<h1>我们的用户说什么</h1>
					<div class="testimonials-text">
						<i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
					</div>
					<small>
						<strong>12.02.2014 - Andy Smith</strong></small>
				</div>
			</div>
		</div>
	</section>
	<section class="comments gray-section" style="margin-top: 0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>What our partners say</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada.</p>
				</div>
			</div>
			<div class="row features-block">
				<div class="col-lg-4">
					<div class="bubble">"Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</div>
					<div class="comments-avatar">
						<a href="" class="pull-left">
							<img alt="image" src="@routes.Assets.versioned("img/landing/avatar3.jpg")"></a>
						<div class="media-body">
							<div class="commens-name">Andrew Williams</div>
							<small class="text-muted">Company X from California</small></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="bubble">"Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</div>
					<div class="comments-avatar">
						<a href="" class="pull-left">
							<img alt="image" src="@routes.Assets.versioned("img/landing/avatar1.jpg")"></a>
						<div class="media-body">
							<div class="commens-name">Andrew Williams</div>
							<small class="text-muted">Company X from California</small></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="bubble">"Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</div>
					<div class="comments-avatar">
						<a href="" class="pull-left">
							<img alt="image" src="@routes.Assets.versioned("img/landing/avatar2.jpg")"></a>
						<div class="media-body">
							<div class="commens-name">Andrew Williams</div>
							<small class="text-muted">Company X from California</small></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>More and more extra great feautres</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 features-text">
					<small>INSPINIA</small>
					<h2>Perfectly designed</h2>
					<i class="fa fa-bar-chart big-icon pull-right"></i>
					<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
				</div>
				<div class="col-lg-5 features-text">
					<small>INSPINIA</small>
					<h2>Perfectly designed</h2>
					<i class="fa fa-bolt big-icon pull-right"></i>
					<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 features-text">
					<small>INSPINIA</small>
					<h2>Perfectly designed</h2>
					<i class="fa fa-clock-o big-icon pull-right"></i>
					<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
				</div>
				<div class="col-lg-5 features-text">
					<small>INSPINIA</small>
					<h2>Perfectly designed</h2>
					<i class="fa fa-users big-icon pull-right"></i>
					<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="pricing" class="pricing">
		<div class="container">
			<div class="row m-b-lg">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>App Pricing</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 wow zoomIn">
					<ul class="pricing-plan list-unstyled">
						<li class="pricing-title">PIC</li>
						<li class="pricing-desc">Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</li>
						<li class="pricing-price">
							<span>$16</span>/ month</li>
						<li>Dashboards</li>
						<li>Projects view</li>
						<li>Contacts</li>
						<li>Calendar</li>
						<li>AngularJs</li>
						<li>
							<a class="btn btn-primary btn-xs" href="#">注册</a></li>
					</ul>
				</div>
				<div class="col-lg-4 wow zoomIn">
					<ul class="pricing-plan list-unstyled selected">
						<li class="pricing-title">MAX</li>
						<li class="pricing-desc">Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</li>
						<li class="pricing-price">
							<span>$22</span>/ month</li>
						<li>Dashboards</li>
						<li>Projects view</li>
						<li>Contacts</li>
						<li>Calendar</li>
						<li>AngularJs</li>
						<li>
							<strong>Support platform</strong></li>
						<li class="plan-action">
							<a class="btn btn-primary btn-xs" href="#">注册</a></li>
					</ul>
				</div>
				<div class="col-lg-4 wow zoomIn">
					<ul class="pricing-plan list-unstyled">
						<li class="pricing-title">PET</li>
						<li class="pricing-desc">Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</li>
						<li class="pricing-price">
							<span>$160</span>/ month</li>
						<li>Dashboards</li>
						<li>Projects view</li>
						<li>Contacts</li>
						<li>Calendar</li>
						<li>AngularJs</li>
						<li>
							<a class="btn btn-primary btn-xs" href="#">注册</a></li>
					</ul>
				</div>
			</div>
			<div class="row m-t-lg">
				<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
					<p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
						<span class="navy">Various versions</span>have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></div>
			</div>
		</div>
	</section>
	<section id="contact" class="gray-section contact">
		<div class="container">
			<div class="row m-b-lg">
				<div class="col-lg-12 text-center">
					<div class="navy-line"></div>
					<h1>联系我们</h1>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<div class="row m-b-lg">
				<div class="col-lg-3 col-lg-offset-3">
					<address>
						<strong>
							<span class="navy">Pharbers, Inc.</span></strong>
						<br/>北京市朝阳区霄云路36号
						<br/>国航大厦1501室
						<br/>
						<abbr title="Phone">Tel：</abbr>010-84244216</address></div>
				<div class="col-lg-4">
					<p class="text-color">Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,</p></div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="mailto:testemail.com" class="btn btn-primary">Send us mail</a>
					<p class="m-t-sm">或者跟我们在社交平台上的</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
					<p>
						<strong>&copy; 2015 Pharbers</strong>
						<br/>consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
			</div>
		</div>
	</section>
	<script>$(document).ready(function() {

		$('body').scrollspy({
			target: '.navbar-fixed-top',
			offset: 80
		});

		// Page scrolling feature
		$('a.page-scroll').bind('click',
				function(event) {
					var link = $(this);
					$('html, body').stop().animate({
								scrollTop: $(link.attr('href')).offset().top - 50
							},
							500);
					event.preventDefault();
					$("#navbar").collapse('hide');
				});
	});

	var cbpAnimatedHeader = (function() {
		var docElem = document.documentElement,
				header = document.querySelector('.navbar-default'),
				didScroll = false,
				changeHeaderOn = 200;
		function init() {
			window.addEventListener('scroll',
					function(event) {
						if (!didScroll) {
							didScroll = true;
							setTimeout(scrollPage, 250);
						}
					},
					false);
		}
		function scrollPage() {
			var sy = scrollY();
			if (sy >= changeHeaderOn) {
				$(header).addClass('navbar-scroll')
			} else {
				$(header).removeClass('navbar-scroll')
			}
			didScroll = false;
		}
		function scrollY() {
			return window.pageYOffset || docElem.scrollTop;
		}
		init();

	})();

	new WOW().init();</script>
</body>
}
