@main("Max | Login") {
<body  class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">MAX</h1>
            </div>
            <h3>欢迎来到MAX</h3>
<!--             <p>设计完美和精确管理主题与超过50页额外的新的web应用程序视图。 -->
<!--                 Continually expanded and constantly improved Inspinia Admin Them (MAX) -->
<!--             </p> -->
<!--             <p>登录。看它的实际应用。</p>-->
            <form class="m-t" id="loginForm" role="form" method="post" action="index">
            	<div class="form-group">
	                <input type="text" class="form-control" placeholder="用户名" name="name" required="">
	            </div>
	            <div class="form-group">
	                <input type="password" class="form-control" placeholder="密码" name="password" required="">
	            </div>
	            <textarea style="display: none">Null</textarea>
	            <!-- type="submit button" -->
	            <button type="submit" id="loginSub" style="display: none"></button>
            </form>
            <button type="button" id="loginBtn" class="btn btn-primary block full-width m-b">登录</button>
            
            <!--<a href="#"><small>忘记密码?</small></a>
            <p class="text-muted text-center"><small>没有一个账户吗?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="register">注册账号</a> -->
            <p class="m-t"> <small>Pharbers. 版权所有。隐私政策 | 使用条款 &copy; 2016</small> </p>
        </div>
    </div>

</body>
}