@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="keywords">
	    <meta name="description" content="description">
    	<link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/pharbers_icon.ico")">
        <title>@title</title>
        
        @*通用CSS 开始*@
		<link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/dataTables/datatables.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/iCheck/custom.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/chosen/chosen.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/colorpicker/bootstrap-colorpicker.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/cropper/cropper.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/switchery/switchery.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/jasny/jasny-bootstrap.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/nouslider/jquery.nouislider.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/datapicker/datepicker3.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/ionRangeSlider/ion.rangeSlider.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/clockpicker/clockpicker.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/select2/select2.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/touchspin/jquery.bootstrap-touchspin.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/plugins/toastr/toastr.min.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("js/plugins/gritter/jquery.gritter.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("js/plugins/gritter/jquery.gritter.css")" rel="stylesheet">
	    <!-- orris -->
    	<link href="@routes.Assets.versioned("css/plugins/morris/morris-0.4.3.min.css")" rel="stylesheet">
    	<link href="@routes.Assets.versioned("css/plugins/select/bootstrap-select.css")" rel="stylesheet">
    	<link href="@routes.Assets.versioned("css/business/resultQueryTable.css")" rel="stylesheet">
		<link rel="stylesheet" href="@routes.Assets.versioned("hDialog/css/animate.min.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("hDialog/css/common.css")">
    	<link href="@routes.Assets.versioned("css/progress.css")" rel="stylesheet">

	    @*通用CSS 结束*@
	    <!-- Mainly scripts -->


	    <script src="@routes.Assets.versioned("js/jquery-2.1.1.js")"></script>
		<!-- jQuery UI -->
		<script src="@routes.Assets.versioned("js/plugins/jquery-ui/jquery-ui.min.js")"></script>
	    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("js/plugins/wow/wow.min.js")"></script>
	    <!-- Mainly scripts -->
	    <script src="@routes.Assets.versioned("js/plugins/metisMenu/jquery.metisMenu.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
		<script src="@routes.Assets.versioned("js/plugins/jeditable/jquery.jeditable.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/dataTables/datatables.min.js")"></script>
	    <!-- FooTable -->
    	<script src="@routes.Assets.versioned("js/plugins/footable/footable.all.min.js")"></script>
	    <!-- Flot -->
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.tooltip.min.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.spline.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.resize.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.pie.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.symbol.js")"></script>
    	<script src="@routes.Assets.versioned("js/plugins/flot/jquery.flot.time.js")"></script>
	    <!-- Peity -->
	    <script src="@routes.Assets.versioned("js/plugins/peity/jquery.peity.min.js")"></script>
	    <script src="@routes.Assets.versioned("js/demo/peity-demo.js")"></script>
	    <!-- Custom and plugin javascript -->
	    <script src="@routes.Assets.versioned("js/inspinia.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/pace/pace.min.js")"></script>

	    <!-- GITTER -->
	    <script src="@routes.Assets.versioned("js/plugins/gritter/jquery.gritter.min.js")"></script>
	    <!-- Sparkline -->
	    <script src="@routes.Assets.versioned("js/plugins/sparkline/jquery.sparkline.min.js")"></script>
	    <!-- ChartJS-->
	    <script src="@routes.Assets.versioned("js/plugins/chartJs/Chart.min.js")"></script>
	    <!-- Toastr -->
	    <script src="@routes.Assets.versioned("js/plugins/toastr/toastr.min.js")"></script>
    	<script src="@routes.Assets.versioned("js/plugins/iCheck/icheck.min.js")"></script>
	    <!-- Chosen -->
	    <script src="@routes.Assets.versioned("js/plugins/chosen/chosen.jquery.js")"></script>
	    <!-- JSKnob -->
	    <script src="@routes.Assets.versioned("js/plugins/jsKnob/jquery.knob.js")"></script>
	    <!-- Input Mask-->
	    <script src="@routes.Assets.versioned("js/plugins/jasny/jasny-bootstrap.min.js")"></script>
	    <!-- Data picker -->
	    <script src="@routes.Assets.versioned("js/plugins/datapicker/bootstrap-datepicker-ch.js")"></script>
	    <!-- NouSlider -->
	    <script src="@routes.Assets.versioned("js/plugins/nouslider/jquery.nouislider.min.js")"></script>
	    <!-- Switchery -->
	    <script src="@routes.Assets.versioned("js/plugins/switchery/switchery.js")"></script>
	    <!-- IonRangeSlider -->
	    <script src="@routes.Assets.versioned("js/plugins/ionRangeSlider/ion.rangeSlider.min.js")"></script>
	    <!-- Color picker -->
	    <script src="@routes.Assets.versioned("js/plugins/colorpicker/bootstrap-colorpicker.min.js")"></script>
	    <!-- Clock picker -->
	    <script src="@routes.Assets.versioned("js/plugins/clockpicker/clockpicker.js")"></script>
	    <!-- Image cropper -->
	    <script src="@routes.Assets.versioned("js/plugins/cropper/cropper.min.js")"></script>
	    <!-- Date range use moment.js same as full calendar plugin -->
	    <script src="@routes.Assets.versioned("js/plugins/fullcalendar/moment.min.js")"></script>
	    <!-- Date range picker -->
	    <script src="@routes.Assets.versioned("js/plugins/daterangepicker/daterangepicker.js")"></script>
	    <!-- Select2 -->
	    <script src="@routes.Assets.versioned("js/plugins/select2/select2.full.min.js")"></script>
	    <!-- TouchSpin -->
	    <script src="@routes.Assets.versioned("js/plugins/touchspin/jquery.bootstrap-touchspin.min.js")"></script>
	    <!-- Morris -->
	    <script src="@routes.Assets.versioned("js/plugins/morris/raphael-2.1.0.min.js")"></script>
	    <script src="@routes.Assets.versioned("js/plugins/morris/morris.js")"></script>
    	<!-- FileUpload -->
    	<script src="@routes.Assets.versioned("jquery-Upload/js/fileinput.min.js")"></script>
		<script src="@routes.Assets.versioned("jquery-Upload/js/fileinput_locale_zh.js")"></script>
		<!-- 引入 ECharts3.0 文件 -->
		<script src="@routes.Assets.versioned("eachars3.0/echarts.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("js/plugins/select/bootstrap-select.js")" type="text/javascript"></script>
    	<!-- 用户Longin -->
    	<script src="@routes.Assets.versioned("js/business/login.js")"></script>
    	<!-- Ajax全部返回自动分页数据表格 -->
    	<script src="@routes.Assets.versioned("js/datatable/datatable.js")"></script>
    	<!-- jQuery处理Cookie -->
    	<script src="@routes.Assets.versioned("js/jquery.cookie.js")"></script>
		<!-- loader -->
		<script src="@routes.Assets.versioned("js/plugins/loader/svgloader.js")"></script>
		<!-- progress -->
		<script src="@routes.Assets.versioned("js/progress.js")"></script>
		<!-- Web-IM -->
		<script src="@routes.Assets.versioned("js/web-im/strophe-1.2.8.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/webim.config.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/websdk-1.4.10.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/load-im.js")"></script>

		<script src="@routes.Assets.versioned("pharbersuploader/md5.min.js")"></script>

		<!-- Weather -->
		<script src="@routes.Assets.versioned("js/business/weather.js")"></script>

		<!-- Upload Start -->
		<link href="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.css")" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.js")"></script>
		<!-- <script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.js")"></script> -->
		<script type="text/javascript" src="@routes.Assets.versioned("js/newjs/PharbersWebUploader.js")"></script>
		<!-- <script type="text/javascript" src="@routes.Assets.versioned("js/business/filesupload.js")"></script> -->
		<!-- Upload End -->
		<!--TAB流程进度 Start-->
		<script src="@routes.Assets.versioned("js/bootstrap-wizard.min.js")"></script>
		<!--TAB流程进度 End-->

		<!-- 公用Common包 -->
		<script src="@routes.Assets.versioned("js/common/ajaxbase.js")"></script>

		<!-- d3组件，用于圆形进度展示 Start-->
		<script src="//cdn.bootcss.com/d3/3.5.5/d3.min.js"></script>
		<!-- d3组件，用于圆形进度展示 End-->

    	@*通用JS 结束*@
	</head>
   @content

	<!-- 弹框组件 Start-->
	<script src="@routes.Assets.versioned("hDialog/js/jquery.hDialog.js")"></script>
	<!-- 弹框组件 End-->

	<!-- <script src="@routes.Assets.versioned("js/business/samplecheck.js")"></script> -->
	<script src="@routes.Assets.versioned("js/plugins/sparkline/jquery.sparkline.min.js")"></script>
</html>
