@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="keywords">
	    <meta name="description" content="description">
    	<link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/pharbers_icon.ico")">
        <title>@title</title>
        
		<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" >
		<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-theme.min.css")" >
		<link href="@routes.Assets.versioned("layui/css/layui.css")" rel="stylesheet" >
		<link rel="stylesheet" href="@routes.Assets.versioned("css/login/nomal.css")" >

		<script src="@routes.Assets.versioned("js/jquery-2.1.1.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" />
    	<script src="@routes.Assets.versioned("js/jquery.cookie.js")"></script>
		<script src="@routes.Assets.versioned("layui/layui.js")"></script>
		<!-- loader -->
		@*<script src="@routes.Assets.versioned("js/plugins/loader/svgloader.js")"></script>*@
		<!-- progress -->
		@*<script src="@routes.Assets.versioned("js/progress.js")"></script>*@
		<!-- Web-IM -->
		<script src="@routes.Assets.versioned("js/web-im/strophe-1.2.8.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/webim.config.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/websdk-1.4.10.js")"></script>
		<script src="@routes.Assets.versioned("js/web-im/load-im.js")"></script>

		<script src="@routes.Assets.versioned("pharbersuploader/md5.min.js")"></script>

		<!-- Upload Start -->
		<!--<link href="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.css")" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/webuploader/webuploader.js")"></script>-->
		<!-- <script type="text/javascript" src="@routes.Assets.versioned("pharbersuploader/PharbersWebUploader.js")"></script> -->
		<!-- <script type="text/javascript" src="@routes.Assets.versioned("js/newjs/PharbersWebUploader.js")"></script>-->
		<!-- <script type="text/javascript" src="@routes.Assets.versioned("js/business/filesupload.js")"></script> -->

		<script type="text/javascript" src="@routes.Assets.versioned("js/common/bspfileinput.js")"></script>

		<!-- Upload End -->
		<!--TAB流程进度 Start-->
		<script src="@routes.Assets.versioned("js/bootstrap-wizard.min.js")"></script>
		<!--TAB流程进度 End-->

		<!-- 公用Common包 -->
		<script src="@routes.Assets.versioned("js/common/ajaxbase.js")"></script>

		<!-- d3组件，用于圆形进度展示 Start-->
		<script src="//cdn.bootcss.com/d3/3.5.5/d3.min.js"></script>
		<!-- d3组件，用于圆形进度展示 End-->

		<script src="@routes.Assets.versioned("js/business/userinfo.js")"></script>

        <script src="@routes.Assets.versioned("layui/layui.all.js")"></script>
    	@*通用JS 结束*@

	</head>
   @content
</html>
