@(message: String)
@main("Max | Home") {
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="@routes.Assets.at("images/pfizer.png")" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Guest</strong>
                             </span> <span class="text-muted text-xs block">Pfizer Staff<b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="emptypage">个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href="javaScript:void();" onclick="logout()">退出系统</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            MAX
                        </div>
                    </li>
                    <li>
                        <a href="index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span></a>
                    </li>
                    <li>
                        <a href="filesupload"><i class="fa fa-database"></i> <span class="nav-label">文件上传</span></a>
                    </li>
                    <li>
                        <a href="samplecheck"><i class="fa fa-pie-chart"></i> <span class="nav-label">样本检查</span></a>
                    </li>
                    <li class="active">
                        <a href="modeloperation"><i class="fa fa-globe"></i> <span class="nav-label">模型运算</span></a>
                    </li>
                    <li>
                        <a href="resultcheck"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">结果检查</span>  </a>
                    </li>
                    <li>
                        <a href="resultquery"><i class="fa fa-table"></i> <span class="nav-label">结果查询</span></a>
                    </li>
                    <li class="landing_link">
                        <a target="_blank" href="landing"><i class="fa fa-star"></i> <span class="nav-label">官方网站</span> <span class="label label-warning pull-right">NEW</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
	        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		        <div class="navbar-header">
		            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
<!-- 		            <form role="search" class="navbar-form-custom" action="search_results.html"> -->
<!-- 		                <div class="form-group"> -->
<!-- 		                    <input type="text" placeholder="搜索..." class="form-control" name="top-search" id="top-search"> -->
<!-- 		                </div> -->
<!-- 		            </form> -->
		        </div>
	            <ul class="nav navbar-top-links navbar-right">
	                <li>
	                    <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
	                </li>
	                <li>
	                    <a href="javaScript:void();" onclick="logout()">
	                        <i class="fa fa-sign-out"></i> 退出系统
	                    </a>
	                </li>
	            </ul>
	        </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>模型运算</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <strong>模型运算</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" >
            <div class="row">
            	<div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>City<small>  operation result.</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="kline1" style="height:350px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Product<small>  operation result.</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="kline2" style="height:350px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-12">
            		<div class="ibox float-e-margins">
            			<div class="ibox-content text-right">
            				<button type="button" class="btn btn-primary btn-sm" id="operation">运算</button>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Pharbers Company &copy; 2008-2016
            </div>
        </div>

        </div>
    </div>
    <script src="@routes.Assets.at("js/business/modeloperation.js")"></script>
    <script>
    var dates = ["201601", "201602", "201603", "201606", "201605","201606", "201607", "201608", "201609", "201610","201611", "201612"];
    var data = [
		[3511, 3517, 3486, 3517],
		[3496, 3505, 3475, 3505],
		[3497, 3506, 3482, 3506],
		[3512, 3499, 3482, 3512],
		[3509, 3495, 3490, 3513],
        [3509, 3495, 3490, 3513],
        [3497, 3506, 3482, 3506],
		[3512, 3499, 3482, 3512],
		[3509, 3495, 3490, 3513],
		[3511, 3517, 3486, 3517],
		[3497, 3506, 3482, 3506],
		[3512, 3499, 3482, 3512]
    ];
    var dataMA5 = [3525, 3508, 3508, 3496, 3513, 3525, 3508, 3508, 3496, 3513, 3525, 3508];
    var dataMA10 = [3519, 3506, 3505, 3499, 3511, 3519, 3506, 3505, 3499, 3511, 3519, 3506];
    var dataMA20 = [3521, 3508, 3499, 3495, 3509, 3521, 3508, 3499, 3495, 3509, 3521, 3508];
    var maLineColor = ['#1ab394', '#79d2c0', '#90ed7d'];
    var stickColor = ['#1ab394', '#79d2c0'];
    var borderColor = '#e5e5e5';
 	// 指定图表的配置项和数据
    var option = {
        animation: false,
        backgroundColor: '#fff',
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false,
                axisPointer: {
                    lineStyle: {
                        type: 'solid',
                        color: '#b2b5c1'
                    }
                }
            },
            textStyle: {
                fontSize: '.24rem'
            },
            hideDelay: 0,
            padding: 5,
            formatter: function(params) {
                var time = params[0].name;
                var kd = params[0].data;
                var ma5 = params[1].data;
                var ma10 = params[2].data;
                var ma20 = params[3].data;
                var rate = (kd[1] - kd[0]) / kd[0] * 100;
                rate = rate > 0 ? ('+' + rate.toFixed(2)) : rate.toFixed(2);
                var html = `${time}<br>开：${kd[0]} 高：${kd[3]}<br>收：${kd[1]} 低：${kd[2]}<br><span class='rate'>涨跌：${rate}%</span><br><span class="ma5">MA5：${ma5}</span><br><span class="ma10">MA10：${ma10}</span><br><span class="ma20">MA20：${ma20}</span>`
                return html;
            }.bind(this)
        },
        xAxis: {
            type: 'category',
            data: dates,
            axisLabel: {
                margin: 8,
                textStyle: {
                    fontSize: '18px',
                    color: '#a1a1a1'
                }
            },
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: borderColor
                }
            },
            splitLine: {
                show: true,
                lineStyle: {
                    color: borderColor,
                    type: 'dashed'
                }
            }
        },
        yAxis: {
            scale: true,
            axisLabel: {
                inside: true,
                margin: 4,
                textStyle: {
                    fontSize: '.18rem',
                    color: '#a1a1a1'
                },
            },
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: borderColor
                }
            },
            splitLine: {
                show: true,
                lineStyle: {
                    color: borderColor,
                    type: 'dashed'
                }
            },
            z: 4,
            min: 'datamin',
            max: 'datamax'
        },
        grid: {
            left: '5px',
            right: '0',
            top: '5px',
            bottom: '0',
            containLabel: true,
            borderColor: borderColor,
            show: true
        },
        dataZoom: [{
            type: 'inside',
            startValue: dates.length > 45 ? dates.length - 45 : 0,
            endValue: dates.length - 1
        }],
        series: [{
            type: 'candlestick',
            name: '5分K',
            data: data,
            itemStyle: {
                normal: {
                    color: stickColor[1],
                    color0: stickColor[0],
                    borderColor: stickColor[1],
                    borderColor0: stickColor[0]
                }
            }
        }, {
            name: 'MA5',
            type: 'line',
            data: dataMA5,
            smooth: true,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1,
                    color: maLineColor[0]
                }
            }
        }, {
            name: 'MA10',
            type: 'line',
            data: dataMA10,
            smooth: true,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1,
                    color: maLineColor[1]
                }
            }
        }, {
            name: 'MA20',
            type: 'line',
            data: dataMA20,
            smooth: true,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1,
                    color: maLineColor[2]
                }
            }
        }]
    };

 	// 基于准备好的dom，初始化echarts实例
    var kChart1 = echarts.init(document.getElementById('kline1'));
    var kChart2 = echarts.init(document.getElementById('kline2'));

 	// 使用刚指定的配置项和数据显示图表。
    kChart1.setOption(option);
    kChart2.setOption(option);
    window.addEventListener("resize", function() {
    	kChart1.resize();
    	kChart2.resize();
	});
    </script>
</body>
}
