<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PharbersMax</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="/assets/images/pharbers_icon.ico">
        <link rel="stylesheet" href="/assets/assets/ember/vendor.css">
        <link rel="stylesheet" href="/assets/assets/ember/max-ember-web.css">
    </head>
    <body>
        <script src="/assets/assets/ember/vendor.js"></script>
        <script src="/assets/assets/ember/max-ember-web.js"></script>
        <script src="/assets/js/business/resultquery.js"></script>
    </body>
</html>
