@main("Max | 填写新密码") {

    @*<div class="row cenPanel-content-small">
        <div class="box_size_upDown_big col-xs-10">
            <form class="layui-form layui-form-pane" method="post">
                <div class="row form-group ">
                    <div class="col-xs-10 col-xs-offset-2">
                        <div class="space-height"></div>
                        <input id="pwd_new" class="form-control" type="password" lay-verify="password" required name="password" placeholder="新密码">
                        <div class="form_tip_bottom" id="pwd_tip"></div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2">
                        <div class="space-height"></div>
                        <input id="pwd_new_again" class="form-control" type="password" lay-verify="confirmpwd" required name="confirmpwd" placeholder="再次输入新密码">
                        <div class="form_tip_bottom" id="pwd_tip"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8 col-xs-offset-2 nomal_btn" lay-submit lay-filter="sub">提交申请</div>
                </div>
            </form>
        </div>
    </div>*@
    <div class="row cenPanel-content-small">
        <div class="box_size_upDown_big col-xs-10">
            <div class="box_size_upDown_big col-xs-10">
                <form class="layui-form layui-form-pane" method="post">
                    <div class="row form-group ">
                        <div class="col-xs-10 col-xs-offset-2">
                            <div class="space-height"></div>
                            <input id="pwd_new" class="form-control" type="password" lay-verify="password" required name="password" placeholder="新密码">
                            <div class="form_tip_bottom" id="pwd_tip"></div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-2">
                            <div class="space-height"></div>
                            <input id="pwd_new_again" class="form-control" type="password" lay-verify="confirmpwd" required name="confirmpwd" placeholder="再次输入新密码">
                            <div class="form_tip_bottom" id="pwd_tip"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8 col-xs-offset-2 nomal_btn" lay-submit lay-filter="sub">提交申请</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            var v = new ValidateHandler();
            $(document).ready(function () {
                var $input = $("input");
                $input[0].focus();
                v.input_blur("pwd_new", "isEmp");
                v.input_blur("pwd_new_again", "isEmp");
            })
            layui.use(['form', 'layer'], function () {
                var $ = layui.jquery, form = layui.form, layer = layui.layer;

                // 验证
                form.verify({
                    password: function (value) {
                        if (value === "") {
                            return "请输入新密码";
                        }
                    },
                    confirmpwd: function (value) {
                        if (value === "") {
                            return "请输入确认密码";
                        }
                    }
                });
                // 提交监听
                form.on('submit(sub)', function (data) {
                    var token = unescape($.getUrlParam('new/', true));
                    var json = JSON.stringify({
                        "password": data.field.password,
                        "user_token": token
                    });
                    if($('input[name="password"]').val() != $('input[name="confirmpwd"]').val()) {
                        layer.msg('两次输入密码不一致！');
                        return;
                    }else {
                        if(v.finalResult()){
                            ajaxData('/user/changepwd', json, 'POST', function (r) {
                                if (r.status === 'ok') {
                                    layer.msg('密码修改成功2秒后跳转登录页面');
                                    setTimeout(function () {
                                        location = '/login'
                                    }, 2000);
                                }else if(r.status === 'error') {
                                    layer.msg(r.error.message);
                                }else {
                                    layer.msg('未知错误！');
                                }
                            }, function (e) {
                                console.error(e)
                            })
                        }

                    }
                })

                $('.layui-form').keydown(function (event) {
                    if (event.keyCode === 13) {
                        $(".nomal_btn").click();
                        return false;
                    }
                });
            });
    </script>

}