@(name: String, url: String)
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="keywords">
    <meta name="description" content="description">
  </head>
  <body>
    <div>
      <div style="position:absolute;top:0px ; left:0px;height: 15%;width: 100%"></div>
      <div style="position: absolute;top: 15%;left: 0px;height:70%;width: 100%;min-width:400px;min-height:600px;">
        <div style="position: absolute;top: 0;left: 15%;height:90%;width: 70%;background-color: #fff;border: 1px solid #009688;border-radius: 2px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);" >
          <div style="position: absolute;top: 0px;left: 0px;height: 10%;width:100%; text-align: center;color: #fff;background-color: #009688;border-color: #009688;border-bottom: 1px solid transparent;border-top-left-radius: 2px;border-top-right-radius: 2px;">
            <div style="position: absolute;top: 10%;left: 0px;height: 100%;width:100%;display: inline-block;">
              <span style="color:#fff;font-size: 20px;font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';">Max找回密码</span>
            </div>
          </div>
          <div style="position: absolute;top: 10%;left: 0px;height: 90%;width:100%;padding: 15px;">
            <div style="position: absolute;top: 10%;left: 10%;height: 90%;width:80%;" >
              <div style="position: absolute;top: 0px;left:0px;height: 40%;width:100%;">

                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">亲爱的@name，您好！</span>
                <br>
                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">请点击下边按钮修改您的密码</span>

              </div>
              <div style="position: absolute;top: 30%;left:0px;height: 20%;width:100%;">
                <div style="height: 20px;margin: 0px 20%;background-color: #009688;color: #fff;white-space: nowrap;text-align: center;border: none;border-radius: 3px;cursor: pointer;opacity: .9;padding: 7px 0px 7px 0px;" onMouseOver="this.style.background='#00796b';" onMouseOut="this.style.background='#009688';" onclick="">
                  <a href="@url" style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';color: #fff;text-decoration:none;font-size: 16px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 修改密码&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
                </div>
              </div>
              <div style="position: absolute;top: 55%;left:0px;height: 30%;width:100%;">
                <br>
                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">点击修改密码进入修改密码页面，若无此需求，可以忽略该邮件</span>
                <br>
                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">Max管理团队：</span>
                <br>
                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">这是一条自动产生的email，请勿回复</span>
                <br>
                <span style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 13px;text-align: center;color: #494c57;">如果有任何问题，欢迎拨打客服专线：1321424234</span>

              </div>
            </div>
          </div>
        </div>
        <div style="position: absolute;top: 92%;left: 0px;height: 15%;width: 100% ;margin: auto auto;">
          <div style="font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';font-size: 12px;color: #9b9fad;text-align: center;">京ICP备14013665号-2 © 2014-2017</div>
        </div>
      </div>
    </div>
  </body>
</html>