@login_panel("Max | Register")("授权码验证") {

    <div class="row cenPanel-content">
        <div class="row middle_info">
            <span>欢迎加入MAX!</span>
            <br>
            <span>请输入您的授权码,进行验证</span>
        </div>
        <form class="layui-form layui-form-pane" method="post">
            <div class="box_form box_size">
                <div class="form-group">
                    @*<input class="form-control" type="text" lay-verify="user_token" required name="user_token" placeholder="请输入授权码">*@
                    <textarea class="layui-textarea" lay-verify="code" required name="code" placeholder="请输入授权码"></textarea>
                    <div class="form_tip_bottom">
                        <span class="small_info"></span>
                    </div>
                </div>
                <div class="login_btn" lay-submit="" lay-filter="sub">提交验证</div>

                <div class="row"><div class="small_info tohref toRight" onclick="goRegiInfoPage()">如何得到授权码?</div></div>
                <div class="row"><div class="small_info tohref toRight" onclick="goRegiCodePage()">授权码过期?</div></div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        
        function goRegiInfoPage() {
            location.href = "/register/info"
        }
        
        function goRegiCodePage() {
            location.href = "/login/confirm"
        }
        
        layui.use(['form', 'layer'], function () {
            var $ = layui.jquery, form = layui.form, layer = layui.layer;
            // 验证
            form.verify({
                code: function (value) {
                    if (value === "") {
                        return "请输入授权码";
                    }
                }
            });

            // 提交监听
            form.on('submit(sub)', function (data) {
                var json = JSON.stringify({'user_token': data.field.code});

                ajaxData('/auth/pushUser', json, 'POST', function (r) {
                    if (r.status === 'ok' && r.result.url !== undefined) {
                        layer.msg('2后跳转页面');
                        setTimeout(function(){location = "/register/success/" + encodeURIComponent(r.result.name)+"/" + encodeURIComponent(r.result.email)}, 2000)
                    } else if(r.status === 'error'){
                        layer.msg(r.error.message);
                    } else {
                        layer.msg('授权码错误或过期！');
                    }
                }, function (e) {
                    console.error(e)
                })
            })
        });

        $('.layui-form').keydown(function (event) {
            if (event.keyCode === 13) {
                $(".login_btn").click();
                return false;
            }
        });
    </script>
}