@main("Max | 结果查询") {
<table class="table table-striped table-bordered table-hover dataTables-example" >
 <thead>
  <tr>
      <th>年份</th>
      <th>月份</th>
      <th>区域</th>
      <th>省份</th>
      <th>城市</th>
      <th>城市级别</th>
      <th>市场I（标准_中文）</th>
      <th>市场I（标准_英文）</th>
      <th>市场II（标准_中文）</th>
      <th>市场II（标准_英文）</th>
      <th>市场III（标准_中文）</th>
      <th>市场III（标准_英文）</th>
      <th>Value（金额）</th>
      <th>Volume (Unit)</th>
  </tr>
 </thead>
 <tbody id="content">
  <tr class="gradeX">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
 </tbody>
</table>
<script>
	    $(function(){
	        $('.dataTables-example').DataTable({
	            dom: '<"html5buttons"B>lTfgitp',
	            buttons: []
	        });
	    }
</script>
}