@(auth: String,markets : List[String], dates : List[Map[String,Any]])
@main("Max | Home") {
<body>
    <div style="display: none;" class="progresstier">
        <div class="progress_circle">&nbsp;</div>
        <div class="widgets">
            <div class="shadow">
                <div id="chart" class="chart-container"> </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <div style="width: 48px; height: 48px;">
                                <span>
                                    <img alt="image" width="48" height="48" style="background-color: #ffffff;" class="img-circle" src="@routes.Assets.versioned("images/boy-4.png")" />
                                </span>
                            </div>
                                <!-- <div style="position: absolute; z-index: 9888; top: -10%; left: 40%;">
                                <div class="tooltip-demo" id="weather">
                                    <img src="http://appimg.showapi.com/images/weather/icon/day/00.png" style="cursor: pointer;" width="84px" height="84px" data-toggle="tooltip" data-placement="right" title="城市：北京，温度：21，天气：晴，风向：西南风，风力：3级">
                                </div>
                            </div> -->
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold" id="company"></strong>
                                    </span>
                                    <span class="text-muted text-xs block"><span id="Name"></span> Staff<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="emptypage">个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href="javaScript:void();" onclick="logout()">退出系统</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            MAX
                        </div>
                    </li>
                    <li>
                        <a href="index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span></a>
                    </li>
                    <li>
                        <a href="filesupload"><i class="fa fa-cloud-upload"></i> <span class="nav-label">1.文件上传</span></a>
                    </li>
                    <li>
                        <a href="samplecheck"><i class="fa fa-pie-chart"></i> <span class="nav-label">2.样本检查</span></a>
                    </li>
                    <li>
                        <a href="samplereport"><i class="fa fa-file-text"></i> <span class="nav-label">3.样本报告</span></a>
                    </li>
                    <li class="active">
                        <a href="resultcheck"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">4.结果检查</span></a>
                    </li>
                    <li>
                        <a id="jgcx" href="resultquery"><i class="fa fa-table"></i> <span class="nav-label">5.结果查询</span></a>
                    </li>
                    @if(auth.equals("Yes")){
                        <li>
                            <a><i class="fa fa-gears"></i> <span class="nav-label">管理页面</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="usermanage">用户管理</a></li>
                                <li><a href="marketmanage">市场管理</a></li>
                            </ul>
                        </li>
                    }
                    <li class="landing_link">
                        <a target="_blank" href="http://www.pharbers.com/"><i class="fa fa-star"></i> <span class="nav-label">官方网站</span> <span class="label label-warning pull-right">NEW</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
	        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		        <div class="navbar-header">
		            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
		        </div>
	            <ul class="nav navbar-top-links navbar-right">
	                <li>
	                    <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
	                </li>
	                <li>
	                    <a href="javaScript:void();" onclick="logout()">
	                        <i class="fa fa-sign-out"></i> 退出系统
	                    </a>
	                </li>
	            </ul>
	        </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>结果检查</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <strong>结果检查</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" >
            <div class="wrapper wrapper-content animated fadeInRight" >
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="status">市场</label>
                            <select data-name="search-result-market" onchange="ModelOperationEchartFun()" class="form-control">
                                @{markets map { market =>
                                <option>{market}</option>
                                }};
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="control-label">日期</label>
                            @*<div class="input-daterange input-group" id="datepicker">*@
                                @*<input type="text" class="input-md form-control" name="date_5" value="11/2016" />*@
                            @*</div>*@
                            <select data-name="search-result-date" onchange="ModelOperationEchartFun()" class="form-control">
                                @{dates map { date =>
                                    <option>{date.get("name").get}</option>
                                }};
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>sales vs share<small> by date.</small></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div id="bar1" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>current month vs previous month<small> by city.</small></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <!--<div id="morris-bar1-chart"></div>-->
                                <div id="bar2" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>current month vs last year current month<small> by city.</small></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <!--<div id="morris-bar2-chart"></div>-->
                                <div id="bar3" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="button" class="btn btn-primary btn-sm" id="nextstepBtn">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    @*<script src="https://cdn.bootcss.com/d3/3.5.5/d3.min.js"></script>*@
    <script src="@routes.Assets.versioned("js/business/resultcheck.js")"></script>
    @*<script src="@routes.Assets.versioned("hDialog/js/jquery.hDialog.js")"></script>*@
</body>
}
