@(message: String)
@main("Max | Home") {
<body>
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <img alt="image" class="img-circle" src="@routes.Assets.at("images/pfizer.png")" />
                         </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Guest</strong>
                         </span> <span class="text-muted text-xs block">Pfizer Staff<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="emptypage">个人资料</a></li>
                            <li class="divider"></li>
                            <li><a href="login">退出系统</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        MAX
                    </div>
                </li>
                <li>
                    <a href="index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span></a>
                </li>
                <li>
                    <a href="filesupload"><i class="fa fa-database"></i> <span class="nav-label">文件上传</span></a>
                </li>
                <li class="active">
                    <a href="samplecheck"><i class="fa fa-pie-chart"></i> <span class="nav-label">样本检查</span></a>
                </li>
                <li>
                    <a href="modeloperation"><i class="fa fa-globe"></i> <span class="nav-label">模型运算</span></a>
                </li>
                <li>
                    <a href="resultcheck"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">结果检查</span>  </a>
                </li>
                <li>
                    <a href="resultquery"><i class="fa fa-table"></i> <span class="nav-label">结果查询</span></a>
                </li>
                <li class="landing_link">
                    <a target="_blank" href="landing"><i class="fa fa-star"></i> <span class="nav-label">官方网站</span> <span class="label label-warning pull-right">NEW</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="搜索..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
               <li>
                   <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
               </li>
               <li>
                   <a href="login">
                       <i class="fa fa-sign-out"></i> 退出系统
                   </a>
               </li>
           </ul>
        </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="p-w-md m-t-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id = "chospNum">
                            0
                        </h1>
                        <small>当期医院数量</small>
                        <div id="sparkline1" class="m-b-sm"></div>
                        <div class="row">

                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>20</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>30</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id="cproductNum">
                            0
                        </h1>
                        <small>当期产品数量</small>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>1189,100</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>1162,100</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id="csales">
                            0
                        </h1>
                        <small>当期市场销量</small>
                        <div id="sparkline3" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>9168,100</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>10608,100</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                            	<span class="label label-info pull-right"> 去年1-12 </span>
                            	<span class="label label-primary pull-right"> 今年1-12 </span>
                            	<div class="flot-chart m-b-xl">
		                            <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
		                        </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        	<tr>
			                        			<th>序号</th>
			                        			<th>医院名称</th>
			                        			<th>年份</th>
			                        			<th>月份</th>
			                        			<th>上传时间</th>
			                        			<th>状态</th>
			                        		</tr>
                                        </thead>
                                        <tbody id="hospitalList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Pharbers Company &copy; 2008-2016
            </div>
        </div>
        </div>
    </div>
    <script>
    	var sampleCheckFun = function sampleCheck(company) {
    		console.info("sample in")
    		var dataMap = JSON.stringify({
    				"company" : company
    		});
    		console.info(dataMap)
    		$.ajax({
    			type: "POST",
    			url: "/samplecheck/check",
    			dataType: "json",
    			data: dataMap,
    			contentType: 'application/json,charset=utf-8',
    			success: function(r){
    				$("#chospNum").text(r.result.hospNum)
    				$("#cproductNum").text(r.result.miniProNum)
    				$("#csales").text(r.result.sales)
    				$.each(r.result.hospList,function(i, v){
    					$("#hospitalList").append("<tr><td>"+(i+1)+"</td><td>"+v+"</td><td>2016</td><td>1</td><td>2016-12-12</td><td><a href=\"#\"><i class=\"fa fa-times text-danger text\"></i></a></td></tr>")
    				})
    			},
    			error: function(XMLHttpRequest, textStatus, errorThrown){
    				console.info("Error")
    			}
    		});
    	}
    	window.onload = function() {
    		sampleCheckFun("BMS")
    	}
	    $(document).ready(function() {
	        var sparklineCharts = function(){
	            $("#sparkline1").sparkline([3400, 4300, 4300, 3500, 4400, 3200, 4400, 5200, 3400, 4200, 5400, 3200], {
	                type: 'line',
	                width: '100%',
	                height: '50',
	                lineColor: '#1ab394',
	                fillColor: "transparent"
	            });
	
	            $("#sparkline2").sparkline([1260100, 1160100, 1560100, 1760100, 1160100, 2260100, 2460100, 3260100, 1360100, 2360100, 3460100, 4260100], {
	                type: 'line',
	                width: '100%',
	                height: '50',
	                lineColor: '#1ab394',
	                fillColor: "transparent"
	            });
	
	            $("#sparkline3").sparkline([35608100, 11608100, 25608100, 37608100, 41608100, 32608100, 34608100, 48608100, 31608100, 42608100, 44608100, 58608100], {
	                type: 'line',
	                width: '100%',
	                height: '50',
	                lineColor: '#1ab394',
	                fillColor: "transparent"
	            });
	        };
	
	        var sparkResize;
	
	        $(window).resize(function(e) {
	            clearTimeout(sparkResize);
	            sparkResize = setTimeout(sparklineCharts, 500);
	        });
	
	        sparklineCharts();
	
	        var data1 = [
	            [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,20],[11,10],[12,13],[13,4],[14,7],[15,8],[16,12]
	        ];
	        var data2 = [
	            [0,0],[1,2],[2,7],[3,4],[4,11],[5,4],[6,2],[7,5],[8,11],[9,5],[10,4],[11,1],[12,5],[13,2],[14,5],[15,2],[16,0]
	        ];
	        $("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
	                    data1,  data2
	                ],
	                {
	                    series: {
	                        lines: {
	                            show: false,
	                            fill: true
	                        },
	                        splines: {
	                            show: true,
	                            tension: 0.4,
	                            lineWidth: 1,
	                            fill: 0.4
	                        },
	                        points: {
	                            radius: 0,
	                            show: true
	                        },
	                        shadowSize: 2
	                    },
	                    grid: {
	                        hoverable: true,
	                        clickable: true,
	
	                        borderWidth: 2,
	                        color: 'transparent'
	                    },
	                    colors: ["#23c6c8", "#1ab394"],
	                    xaxis:{
	                    },
	                    yaxis: {
	                    },
	                    tooltip: false
	                }
	        );
	
	    });
    </script>
</body>
}
