@(message: String)
@main("Max | Home") {
<body>
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <img alt="image" width="48" height="48" style="background-color: #ffffff;" class="img-circle" src="@routes.Assets.versioned("images/boy-4.png")" />
                         </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" id="company"></strong>
                            </span> <span class="text-muted text-xs block"><span id="Name"></span> Staff<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="emptypage">个人资料</a></li>
                            <li class="divider"></li>
                            <li><a href="javaScript:void();" onclick="logout()">退出系统</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        MAX
                    </div>
                </li>
                <li>
                    <a href="index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span></a>
                </li>
                <li>
                    <a href="filesupload"><i class="fa fa-database"></i> <span class="nav-label">文件上传</span></a>
                </li>
                <li class="active">
                    <a href="samplecheck"><i class="fa fa-pie-chart"></i> <span class="nav-label">样本检查</span></a>
                </li>
                <li>
                    <a href="modeloperation"><i class="fa fa-globe"></i> <span class="nav-label">模型运算</span></a>
                </li>
                <li>
                    <a href="resultcheck"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">结果检查</span>  </a>
                </li>
                <li>
                    <a href="resultquery"><i class="fa fa-table"></i> <span class="nav-label">结果查询</span></a>
                </li>
                <li class="landing_link">
                    <a target="_blank" href="landing"><i class="fa fa-star"></i> <span class="nav-label">官方网站</span> <span class="label label-warning pull-right">NEW</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
<!--             <form role="search" class="navbar-form-custom" action="search_results.html"> -->
<!--                 <div class="form-group"> -->
<!--                     <input type="text" placeholder="搜索..." class="form-control" name="top-search" id="top-search"> -->
<!--                 </div> -->
<!--             </form> -->
        </div>
            <ul class="nav navbar-top-links navbar-right">
               <li>
                   <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
               </li>
               <li>
                   <a href="javaScript:void();" onclick="logout()">
                       <i class="fa fa-sign-out"></i> 退出系统
                   </a>
               </li>
           </ul>
        </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="p-w-md m-t-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id = "chospNum">
                            0
                        </h1>
                        <small>当期医院数量</small>
                        <div id="sparkline1" class="m-b-sm"></div>
                        <div class="row">

                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>无</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>无</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id="cproductNum">
                            0
                        </h1>
                        <small>当期产品数量</small>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>无</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>无</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <h1 class="m-b-xs" id="csales">
                            0
                        </h1>
                        <small>当期市场销量</small>
                        <div id="sparkline3" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">上期</small>
                                <h4>无</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">去年同期</small>
                                <h4>无</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                            	<span class="label label-info pull-right"> 去年1-12 </span>
                            	<span class="label label-primary pull-right"> 今年1-12 </span>
                            	<div class="flot-chart m-b-xl">
		                            <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
		                        </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" >
                                        <thead>
                                        	<tr>
			                        			<th>序号</th>
			                        			<th>医院名称</th>
			                        			<th>年份</th>
			                        			<th>月份</th>
			                        			<th>上传时间</th>
			                        			<th>状态</th>
			                        		</tr>
                                        </thead>
                                        <tbody id="hospitalList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Pharbers Company &copy; 2008-2016
            </div>
        </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("js/business/samplecheck.js")"></script>
</body>
}
