@(name : String, email : String)

@login_panel("Max | Register")("授权验证") {

    <div class="row cenPanel-content">
        <div class="col-xs-3  box_size_upDown"></div>
        <div class="col-xs-6 box_size_upDown">
            <div class="inCentre">
                <div class="inCentre"><i class="font_big_size default_color glyphicon glyphicon-ok-sign"></i></div>

                <br>
                <div class="inCentre"><span class=" middle_info">授权验已证成功</span></div>
            </div>

        </div>
        <div class="col-xs-3 box_size_upDown"></div>
    </div>

    <script type="text/javascript">
        setTimeout(function () {
            var name= "@name";
            var email="@email";
            location = "/email/invocation/"+ encodeURIComponent(name) +"/" + encodeURIComponent(email);
        }, 1000 * 2)
    </script>
}