
@login_panel("Max | 找回密码")("找回密码") {

    <div class="row cenPanel-content-small">
        <div class="box_size_upDown_big col-xs-10">
            <div class="row form-group ">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="small_info">已将设置新密码的链接发送至您输入的邮箱，请及时确认！</span>
                    <br>
                    <span class="small_info">登陆后请修改新密码</span>
                    <div class="space-height"></div>
                    <div class="space-height"></div>
                    <div class="space-height"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 col-xs-offset-2 nomal_btn" onclick="javascript:window.location.href='/login'">返回登陆</div>
            </div>
        </div>
    </div>
}