@main("Max | Register") {
  <body>
    <div class="title"></div>
    <div class="content row">
      <div class="cenPanel col-xs-8 col-xs-offset-2">
        <div class="row cenPanel-title">
          <span class="toLeft col-xs-1"><i class="layui-icon toLeft" style="font-size: 30px; ">&#xe65c;</i></span>
          <span class="cer-title-info col-xs-8 col-xs-offset-1">授权验证</span>
        </div>
        <div class="row cenPanel-content">
          <div class="col-xs-5  box_size_upDown"></div>
          <div class="col-xs-3 box_size_upDown">
            <div class="row">
              <i class="font_big_size default_color glyphicon glyphicon-ok-sign"></i>
              <br>
              <span class="row middle_info toRight">授权验证已成功</span>
            </div>

          </div>
          <div class="col-xs-4 box_size_upDown"></div>
        </div>

      </div>
    </div>
    <div class="footer">
      <div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
    </div>
    <script type="text/javascript">
      setTimeout(function(){
          location = "/login"
      }, 1000 * 2)
    </script>
  </body>
}