@main("Max | Login") {
    <body>
        <div class="title"></div>
        <div class="content row">
            <div class="cenPanel col-xs-4 col-xs-offset-4">
                <div class="row cenPanel-title cer-title-info">
                    快速预约免费演示
                </div>
                <div class="row cenPanel-content">
                    <div class="col-xs-4  box_size_upDown"></div>
                    <div class="col-xs-4 box_size_upDown">
                        <div class="row">
                            <i class="font_big_size default_color glyphicon glyphicon-ok-sign"></i>
                        </div>
                        <div class="row middle_info"> 操作成功</div>
                    </div>
                    <div class="col-xs-4 box_size_upDown"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
        </div>
    </body>
}