@(message: String)
<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
        <title>IM-DEMO</title>
        <script src="@routes.Assets.versioned("js/jquery-2.1.1.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.cookie.js")"></script>
        <script src="@routes.Assets.versioned("js/web-im/strophe-1.2.8.js")"></script>
        <script src="@routes.Assets.versioned("js/web-im/webim.config.js")"></script>
        <script src="@routes.Assets.versioned("js/web-im/websdk-1.4.10.js")"></script>
        <script src="@routes.Assets.versioned("js/web-im/load-im.js")"></script>
        <script src="@routes.Assets.versioned("js/test.js")"></script>

    </head>

    <body>

    </body>
</html>