@main("Max | Login") {
    <body>
        <div class="title"></div>
        <div class="container">
            <div class="cenPanel col-xs-4 col-xs-offset-4">
                <div class="row cenPanel-title cer-title-info">
                    快速预约免费演示
                </div>
                <div class="toCenter cenPanel-content">
                    @*<div class="col-xs-4 box_size_upDown"></div>*@
                    <div class= "box_size_upDown">
                        <div class="toCenter">
                            <span class="font_big_size default_color glyphicon glyphicon-ok-sign"></span>
                            <br>
                            <span class="middle_info">操作成功</span>
                        </div>
                        @*<div class="row toCenter"> <span class="middle_info">操作成功</span></div>*@
                    </div>
                    @*<div class="col-xs-4 box_size_upDown"></div>*@
                </div>
            </div>
        </div>
        @pageLayout.RegisterAndLogin.footerPanel()
    </body>
}