
@pageLayout.RegisterAndLogin.contentPanel("Max | Login")("信息验证") {
    <div class="row cenPanel-content">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row box_form">
                <span class="middle_info toRight">请输入以下信息(皆为必填,我们将对您的资料进行审核)</span>
                <br>
                <span class="middle_info toRight">审核通过后,将发送新的授权码至您的邮箱.</span>
                <br>
                <span class="middle_info toRight">提示:若您忘记以下信息,请与您的业务人员联系</span>
            </div>
            <form class="layui-form layui-form-pane" method="post" action="">
            <div class="box_form">
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="email_user" class="form-control" type="text" lay-verify="email" required name="email" placeholder="企业邮箱(账号)" value="">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="name_user" class="form-control" type="text" lay-verify="name" required name="name" placeholder="您的姓名" value="">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10">
                        <input id="phone_user" class="form-control" type="text" lay-verify="phone" required name="phone" placeholder="您的手机号码" value="">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6">
                        <input id="code_user" class="form-control" type="text" name="code" placeholder="请填入手机验证码">
                        <div class="form_tip_bottom"></div>
                    </div>
                    <div class="nomal_btn col-xs-2" lay-submit lay-filter="pull_phone_code">点击获取</div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="login_btn btn-submit" lay-submit lay-filter="sub">提交</div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="box_size_upDown" id="alert_err">
        <div class="toCenter">
            <i class="glyphicon glyphicon-remove-sign err"></i>
        </div>
        <div class="toCenter">
            <span>申请失败</span>
            <br>
            <span>请与您的业务人员联系</span>
        </div>
    </div>

    <script type="text/javascript">
        var f = new Facade();
        var validate = f.validationModule();
        var ajax = f.ajaxModule();
        $(document).ready(function () {
            $("#alert_err").hide();
            validate.input_blur("email_user", "email");
            validate.input_blur("name_user", "name");
            validate.input_blur("phone_user", "phone");
            validate.input_blur("code_user", "isEmp");
        });

        var errShow = function(){
            layui.use('layer' ,function () {
                var index = layer.open({
                    type: 1,
                    skin: 'layer-ext-errLay',
                    area: ['400px','450px'],
                    shade: [0.8, '#393D49'],
                    content: $('#alert_err'),
                    title: ['信息验证错误', ' background:#953b39;margin_left:50px;color: white;font-size: 20px;text-align: center;'],
                    cancel: function(index, layero){
                        layer.close(index)
                    $('#alert_err').hide();
                    }
                });
                layer.title("信息验证错误", index);
                layer.config({
                    skin: 'layer-ext-errLay'
                })
            })
        }

        layui.use(['form', 'layer'], function () {
            var $ = layui.jquery,form = layui.form,layer = layui.layer;
            // 验证
            form.verify({
                email: function (value) {
                    if (value === "") {
                        return "请输入邮箱";
                    }
                },
                name: function (value) {
                    if (value === "") {
                        return "请输入姓名";
                    }
                },
                phone: function (value) {
                    if (value === "") {
                        return "请输入电话";
                    }
                },
                code: function (value) {
                    if (value === "") {
                        return "请输入手机验证码";
                    }
                }
            });

            // 提交监听
            form.on('submit(sub)', function (data) {
                var json = JSON.stringify(data.field);
                var check = JSON.stringify({"user_token": $.cookie('user_token'), "code": data.field.code, "reg_token": $.cookie('reg_token')})

                if (validate.finalResult()) {
                    ajax.baseCall('/phonecode/check', check, 'POST', function(r){
                        if(r.status === 'ok' && r.result.result === 'success') {
                            again();
                        }else {
                            $('input[name="code"]').blur();
                            layer.msg("验证忙错误或超出验证时间！");
                        }
                    }, function(e){console.error(e)});
                    var again = function () {
                        ajax.baseCall('/auth/tokenDefeat', json, 'POST', function(r){
                            if(r.status === "ok" && r.result.token !== undefined){
                                var name = r.result.apply.name;
                                var email = r.result.apply.email;
                                location = "/register/success/" + name + "/" + email;
                            }else {
                                layer.msg('信息填写错误！');
                            }
                        }, function(e){console.error(e)});
                    };
                    return false;
                }
            });

            form.on('submit(pull_phone_code)', function (data) {
                var json = JSON.stringify({"reginfo": data.field});

                if (validate.finalResultWithExt(["phone"])) {
                    console.info(json)
//                    var m = JSON.stringify({"phone": $('input[name="phone"]').val()})
//                    ajax.baseCall('/phonecode/send', m, 'POST', function(r){
//                        $.cookie('reg_token', r.result.reg.reg_token)
//                    }, function(e){console.error(e)})

                    return false;
                }
            });

            $('.layui-form').keydown(function (event) {
                if (event.keyCode === 13) {
                    $(".btn-submit").click();
                    return false;
                }
            });
        });
    </script>
}