<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="layui/css/layui.css">

    <link rel="stylesheet" href="css/nomal.css">

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="layui/layui.all.js"></script>


    <title></title>
</head>
<body>
<div class="title"></div>
<div class="content row">
    <div class="cenPanel col-xs-8 col-xs-offset-2">
        <div class="row cenPanel-title">
            <i class="layui-icon" style="font-size: 30px; ">&#x1006;</i>
            <span class="cer-title-info col-xs-11">授权码验证</span>
        </div>
        <div class="row cenPanel-content">
            <div class="row middle_info">
                <span>欢迎加入MAX!</span>
                <br>
                <span>请输入您的授权码,进行验证</span>
            </div>
            <div class="box_form box_size">
                <div class="form-group">
                    <input class="form-control" type="text" name="code" placeholder="请输入授权码">
                </div>
                <div class="login_btn" onclick="function">提交验证</div>
                <div class="row"><div class="small_info tohref toRight" onclick="">如何得到授权码?</div></div>
                <div class="row"><div class="small_info tohref toRight" onclick="">授权码过期?</div></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_info">京ICP备14013665号-2 © 2014-2017</div>
</div>
</body>


</html>