<div class="modal fade" id="appointmentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">预约清单详情</h4>
            </div>
            <div class="modal-body">
                <div class="space-height-16"></div>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3 font-light">姓名</div>
                        <div class="col-xs-6 font-black appoint-name">王小明</div>
                    </div>
                    <div class="space-height-16"></div>
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3 font-light">邮箱</div>
                        <div class="col-xs-6 font-black appoint-email">王小明163.com</div>
                    </div>
                    <div class="space-height-16"></div>
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3 font-light">联系电话</div>
                        <div class="col-xs-6 font-black appoint-phone">18797000111</div>
                    </div>
                    <div class="space-height-16"></div>
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3 font-light">公司名称</div>
                        <div class="col-xs-6 font-black appoint-company">王小明的公司</div>
                    </div>
                    <div class="space-height-16"></div>
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3 font-light">申请时间</div>
                        <div class="col-xs-6 font-black appoint-date">2017/09/12</div>
                    </div>
                    <div class="space-height-16"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="agree_apply" class="layui-btn layui-btn-primary">添加为成员</button>
                <button type="button" id="appoint_del" class="layui-btn layui-btn-primary">删除</button>
            </div>
        </div>
    </div>
</div>
