<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">返回</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 font-light">
                        <span>请认真填写删除预约的原因，预约清单删除后，有关信息会永久删除，</span>
                        <span>请谨慎对待！</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-1 font-black">
                        <div class="space-height"></div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                联系方式错误，无法取得联系
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                业务需求
                            </label>
                        </div>
                        <div class="radio ">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                other
                            </label>
                        </div>
                        <div class="space-height-16"></div>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="delRegister" type="button" class="layui-btn layui-btn-primary">确定</button>

            </div>
        </div>
    </div>
</div>
