<div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">网上预约通知</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">未读</a></li>
                                <li role="presentation"><a href="#">已读</a></li>
                            </ul>
                        </div>
                        <div id="noticeList">
                            <div class="row notice-left bottom-line-thin" >
                                <div class="notice-company">
                                公司名
                                </div>
                                <div class="notice-name">
                                姓名
                                </div>
                                <div class="notice-date">
                                2017/10/20
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 left-line-thin">
                        <div class="row">
                           <div class="col-sm-10 font-light">
                               <span>以下为客户信息，</span>
                               <br>
                               <span>请在申请日48小时内与客户联系</span>
                           </div>
                        </div>
                        <div class="space-height"></div>
                        <div class="row">
                            <div class="col-sm-4 font-light">姓名</div>
                            <div class="col-sm-6 col-xs-offset-1 font-black noti-name">姓名</div>
                        </div>
                        <div class="space-height-16"></div>
                        <div class="row">
                            <div class="col-sm-4 font-light">邮箱</div>
                            <div class="col-sm-6 col-xs-offset-1 font-black noti-email">afdasfasf</div>
                        </div>
                        <div class="space-height-16"></div>
                        <div class="row">
                            <div class="col-sm-4 font-light">联系电话</div>
                            <div class="col-sm-6 col-xs-offset-1 font-black noti-phone">1111223234</div>
                        </div>
                        <div class="space-height-16"></div>
                        <div class="row">
                            <div class="col-sm-4 font-light">公司名称</div>
                            <div class="col-sm-6 col-xs-offset-1 font-black noti-company">阿斯蒂芬</div>
                        </div>
                        <div class="space-height-16"></div>
                        <div class="row">
                            <div class="col-sm-4 font-light">申请时间</div>
                            <div class="col-sm-6 col-xs-offset-1 font-black noti-date">2007/03/21</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="addToAppoint" type="button" class="layui-btn layui-btn-primary">加入预约清单</button>
            </div>
        </div>
    </div>
</div>