/*生成Panel选择日期框中的字体*/
.panel-select-time-tip {
    color: #868686;
    font-weight: 300;
    margin: 10px 25px;
}

/*生成Panel选择日期框中的文字按钮*/
.panel-select-time-btn-tip {
    width:auto;
    cursor: pointer;
    color: #868686;
    font-weight: 400;
}

/*生成Panel选择日期框中的整体位置*/
.panel-select-time-checkbox {
    padding: 20px 0 0 0;
}

#panel-show-time, #panel-none-show-time, #panel-error {
    display: none;
}

.panel-error-msg {
    color: #7E7E7E;
}
.panel-error-msg > b {
    font-size: 18px;
}
.panel-error-msg > ol {
    text-indent:2em;
}