#sampleResult{
    min-width: 1200px;
}
.small-font-sample{
    font-size: 12px!important;
    letter-spacing: 2px!important;
    font-family: PingFangSC-Regular;
}
.middle-font-sample{
    font-size: 24px!important;
    letter-spacing: 2px;
    font-family: PingFangSC-Regular;
}
.sample-font-sample{
    font-size: 12px!important;
    letter-spacing: 2px;
    font-family: PingFangSC-Regular;
}
.btn-sample{
    font-size: 18px!important;
    letter-spacing: 2px!important;
    font-family: PingFangSC-Regular!important;
    background-color: #60B3AD!important;

}
.sample-panel{
    min-width: 1200px;
    max-width: 1380px;
    margin:20px auto;
    min-height: 1044px;
    overflow-x:auto;
    box-shadow: #737373 1px 1px 6px;

}
.choose-condition{
    min-height:75px;
    width: 100%;
    padding: 0 20px;
    line-height: 75px;
}
.choose-tool>div{
    margin: 0px 10px;
}
.sample-select{
    width: 150px!important;
}
.chart-sample{
    min-height:323px;
    padding: 20px 48px;
}
.title-s{
    height: 50px;
    line-height: 50px;
}

.chart-body{
    height: 322px;
    width: 100%;
    min-width: 1000px;
}
.table-sample{
    min-width: 1200px;
    max-width: 1380px;
    margin: 20px auto;
}
body{
    min-width: 1200px;
}
@media (max-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}



/*新增样本内检查提示样式*/
.sample-num-tip {
    height: 99px;
    line-height: 99px;
}
.sample-num-tip > .sample-icon {
    float: left;
    margin-right: 20px;
}
.sample-icon > span {
    margin-right: 5px;
    background-color:#2EA7AA;
    border-radius: 3px;
}
.sample-icon > b {
    font-size: 16px;
    color: #AA2B2A;
}
.sample-badge {
    height: 35px;
    line-height: 35px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
}
.sample-badge-error {
    background-color: #D94C4C !important;
}
.sample-badge-content > td {
    font-size: 20px;
}
.sample-badge-content td > span > b {
    font-size: 16px;
}
.sample-table > .layui-table tbody tr:hover{
    background-color: transparent;
}
