

.step{
    padding: 20px 20px;
    line-height:40px;
    min-height: 80px;
    min-width: 1200px;
    box-shadow: #737373 1px 1px 6px;
}
.step-img{
    min-width: 200px;
}
.step-img > img{
    max-width: 280px;
}
.backHome{
    right: 20px;
}
/*文件上传*/
.file-box{
    padding: 20px 10px;

}
.file-up{
    height: 300px;
    width: 280px;
    border-radius: 3px;
    border: 2px solid #494c57;
    padding: 10px 25px;
}
.file-icon{
    font-size: 250px;
    color: #d8dce8;
    text-align:center;
}
.file-road{
    max-width: 280px;
    padding: 20px 0px;
}
.file-describe{

}
.file-btn{
    cursor: pointer;
}

.rotate-cal{
    .center-block()
    width:100%;
}
.begin-check{
    height: 400px;
    padding-top:  80px;
    margin: 0px auto;
}
.begin-calcul{
    height: 400px;
    padding-top:  80px;
    margin: 0px auto;
}
#calc-btn{
    height: 100%;
    margin: auto 0px;
}
.calculMsg{
    margin: 0 auto;
}
.chart-panel{
    height: 200px;
    padding: 20px 20px;
}
.chart-main{
    height: 200px;
    width: 200px;
}
.chart-intro{
    height: 200px;
    width: 450px;

}

