body, html{
    height: 100%;
}

/*-------------------------------------字体----------------------------*/
.logo-font {
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.15625em;
    color: white;
}
.sub-title-font{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.125em;
    letter-spacing: 0.25em;
    color: #6a6a6a;
}
.people-small-font{
    font-family: PingFangSC-Regular, sans-serif;
    font-size:0.75em;
    color: white;
}
.people-middle-font{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.5em;
    color: white;
}
.title-font {
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1875em;
    color: white;
}
/*-------------------------------------布局----------------------------*/
.logo {
    top: 0px;
    left: 0px;
    position: relative;
    height: 60px;
    width: 100%;
    line-height: 60px;
    padding: 0 20px;
    background-color: #737373;
    min-width: 800px;
}
.center-content {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 800px;
}


/*副标题*/
.sub-title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    box-shadow: #737373 1px 1px 6px;
}
/*左右工具*/
.left-tool {
    position: relative;
    top: 0px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #737373;
    padding: 0px 0px;

}
.right-content {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    min-width:600px;
    padding: 0px 0px;
}

.cal-title{
    height: 60px;
    line-height: 60px;
    background-color: #737373;
}


.operationInfo{
    width: 546px;
    margin: auto;
}
.clickMsg{
    width: 546px;
    margin: 0 auto;

}


.fullHeight{
    height: 100%;
}

/*个人信息*/
.peopleInfo {
    cursor: pointer;
    margin:0 20px;
    height: 60px;
}
.people-name {
    float: left;
    font-weight: bold;
    line-height: 25px;
}
.people-oparetion {
    float: right;
    /*padding: 0px 30px;*/
}
.people-email{
    height: 15px;
    line-height: 15px;
}
.alert-msg{
    position: relative;
    top: -14px;
    right: 16px;
    z-index: 10000;
}
.shadow-tool{
    box-shadow: #737373 1px 1px 6px;
}
.historyLst{
    margin: 20px 0px;
}