/**********************************通用部分*********************/
.bottom-line-bold{
    border-bottom: 2px solid #777777;
}
/*字体居中*/
.inCenParent {
    text-align: center;
}

.inCenChild {
    display: inline-block;
}
/*字*/
.small-font{
    font-family: PingFangSC-Regular, sans-serif !important;
    font-size: 14px;
    color: #494c57;
}
.middle-font{
    font-family: PingFangSC-Regular, sans-serif !important;
    font-size: 1.125em;
    color: #494c57;
}
.large-font{
    font-family: PingFangSC-Regular, sans-serif !important;
    font-size: 2em;
    color: #494c57;
}
.overflow-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}
.disable :hover{
    cursor: not-allowed;
    background-color: #f7f7f7;
    opacity: 1;
}
.inLeft{
    float: left!important;
}
.inRight{
    float: right!important;
}
.shadow-button{
    box-shadow:#fff 0 0 0 , #737373 1px 1px 6px,#fff 0 0 0 ,#fff 0 0 0;
}
.shadow-box{
    box-shadow: #737373 1px 1px 6px;
}
