#sampleResult{
    min-width: 1200px;
}
.small-font-sample{
    font-size: 12px!important;
    letter-spacing: 2px!important;
    font-family: PingFangSC-Regular;
}
.middle-font-sample{
    font-size: 18px!important;
    letter-spacing: 2px;
    font-family: PingFangSC-Regular;
}
.sample-font-sample{
    font-size: 12px!important;
    letter-spacing: 2px;
    font-family: PingFangSC-Regular;
}
.btn-sample{
    font-size: 18px!important;
    letter-spacing: 2px!important;
    font-family: PingFangSC-Regular!important;
    background-color: #60B3AD!important;

}
.sample-panel{
    min-width: 1200px;
    max-width: 1380px;
    margin:20px auto;
    min-height: 1044px;
    overflow-x:auto;
    box-shadow: #737373 1px 1px 6px;

}
.choose-condition{
    min-height:75px;
    width: 100%;
    padding: 0 20px;
    line-height: 75px;
}
.choose-tool>div{
    margin: 0px 10px;
}
.sample-select{
    width: 150px!important;
}
.chart-sample{
    min-height:323px;
    padding: 20px 48px;
}
.title-s{
    height: 50px;
    line-height: 50px;
}
.t-num{
    height: 24px;
    line-height: 24px;
}
.t-num > div{
    height: 49px;
    margin-right: 30px;
    float: left;
}
.chart-body{
    height: 322px;
    width: 100%;
    min-width: 1000px;
}
.table-sample{
    min-width: 1200px;
    max-width: 1380px;
    margin: 20px auto;
}
body{
    min-width: 1200px;
}
@media (max-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}
