<div class="modal fade" id="backCheck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="space-height"></div>
                <div class="space-height"></div>
                <div class="row inCenParent">
                    <div class="middle-font inCenChild">中途退出流程，将终止本次添加新数据！</div>
                </div>
            </div>
            <div class="space-height"></div>
            <div class="space-height"></div>
            <div class="modal-footer">
                <button type="button" class="layui-btn layui-btn-primary" data-dismiss="modal" aria-label="Close">返回</button>
                <button type="button" class="layui-btn layui-btn-primary" id="back_check_again">退出</button>
            </div>
        </div>
    </div>
</div>
