<div class ="row" id="sampleResult" style="display: none;">
    <div class="row sample-panel shadow-button">
        <div class="choose-condition shadow-button" name="select-box">
            <div class="form-inline col-sm-8 col-md-8 col-lg-8 choose-tool">
                <div class="form-group">
                    <label>市场</label>
                    <select class="form-control sample-select" name="sample-market"></select>
                </div>
                <div class="form-group">
                    <label>月份</label>
                    <select class="form-control sample-select" name="sample-date"></select>
                </div>
                <div class="layui-btn layui-btn-primary btn-sample" id="query-sample">查看</div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="layui-btn layui-btn-primary btn-sample" id="reset-upload">重新导入文件</div>
                <div id="to-third-btn" class="layui-btn layui-btn-primary btn-sample">下一步</div>
            </div>
        </div>
        <div class="chart-sample shadow-button">
            <div class="title-s middle-font-sample">
                <span name="sample-market-tip"></span><b><em> 医院样本数量</em></b>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-6">
                    <div class="sample-num-tip">
                        <div class="sample-icon">
                            <span>&nbsp;&nbsp;&nbsp;</span><em>本月样本数</em>
                        </div>
                        <div class="sample-icon">
                            <b>·······</b><em>去年各月样本趋势</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-6 sample-table">
                    <table class="layui-table text-center" lay-skin="nob">
                        <tr class="sample-badge-content">
                            <td>
                                <span class="sample-badge" id="pct-sample-hospital"><b>%</b></span>
                            </td>
                            <td id="cur-sample-hospital-num"></td>
                            <td id="base-sample-hospital-num"></td>
                        </tr>
                        <tr>
                            <td>样本误差率</td>
                            <td>本月样本个数</td>
                            <td>去年同月样本数</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="chart-body" id="lineChart1"></div>
            <div class="chart-bottom"></div>
        </div>
        <div class="chart-sample shadow-button">
            <div class="title-s middle-font-sample">
                <span name="sample-market-tip"></span><b><em> 产品样本数量</em></b>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-6">
                    <div class="sample-num-tip">
                        <div class="sample-icon">
                            <span>&nbsp;&nbsp;&nbsp;</span><em>本月样本数</em>
                        </div>
                        <div class="sample-icon">
                            <b>·······</b><em>去年各月样本趋势</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-6 sample-table">
                    <table class="layui-table text-center" lay-skin="nob">
                        <tr class="sample-badge-content">
                            <td>
                                <span class="sample-badge" id="pct-sample-product"><b>%</b></span>
                            </td>
                            <td id="cur-sample-product-num"></td>
                            <td id="base-sample-product-num"></td>
                        </tr>
                        <tr>
                            <td>样本误差率</td>
                            <td>本月样本个数</td>
                            <td>去年同月样本数</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="chart-body" id="lineChart2"></div>
            <div class="chart-bottom">
        </div>

        </div>
        <div class="chart-sample ">
            <div class="title-s middle-font-sample">
                <span name="sample-market-tip"></span><b><em> 样本销售额</em></b>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-6">
                    <div class="sample-num-tip">
                        <div class="sample-icon">
                            <span>&nbsp;&nbsp;&nbsp;</span><em>本月样本数</em>
                        </div>
                        <div class="sample-icon">
                            <b>·······</b><em>去年各月样本趋势</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-6 sample-table">
                    <table class="layui-table text-center" lay-skin="nob">
                        <tr class="sample-badge-content">
                            <td>
                                <span class="sample-badge" id="pct-sample-sales"><b>%</b></span>
                            </td>
                            <td id="cur-sample-sales-num"></td>
                            <td id="base-sample-sales-num"></td>
                        </tr>
                        <tr>
                            <td>样本误差率</td>
                            <td>本月样本销售额</td>
                            <td>去年同月样本销售额</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="chart-body" id="barChart1"></div>
            <div class="chart-bottom"></div>
        </div>
    </div>
    <div class="row table-sample">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title middle-font-sample" style="background-color: #60B3AD;color: #fff">源文件中&nbsp;缺少的样本医院清单</h2>
                <div class="layui-colla-content layui-show">
                    <div class="row">
                        <table class="layui-table" lay-filter="sample-hospital">
                            <thead>
                                <tr>
                                    @*<th type="numbers">序号</th>*@
                                    <th lay-data="{field:'hospitalName', width:'24%'}">医院名称</th>
                                    <th lay-data="{field:'province', width:'24%'}">省份</th>
                                    <th lay-data="{field:'city', width:'24%'}">城市</th>
                                    <th lay-data="{field:'cityjb', width:'24%'}">城市级别</th>
                                </tr>
                            </thead>
                            <tbody id="sample-tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

